<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head(titulo='GreenTech - Inicio')}">
    <meta name="description" content="Página principal de GreenTech, donde encontrará toda la información necesaria.">
</head>

<body>

    <div th:replace="~{fragmentos/nav::nav}"></div>
    <header id="portada" class="d-flex align-items-center parallax2">
        <div class="mx-auto text-center">
            <h1>GREENTECH BIOFUELS</h1>
            <h2>Tu biocombustible y cada día el de más gente</h2>
        </div>
    </header>
    <main class="container-fluid">
        <section id="servicios">
            <h1 class="mb-5 d-flex align-items-center justify-content-center parallax" id="parallax1">Nuestros
                servicios, nuestra garantía</h1>
            <div class="flexCart">
                <div class="carta col-sm-12 col-lg-3" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                    <img src="../img/ballen.jpg" alt="Ballena" class="imgCart">
                    <div>
                        <h3>Menos contaminación</h3>
                        <p class="cartaText">Al usar biodiesel GreenTech no solo contaminas menos en comparación con
                            otros, sino que eliminas la
                            contaminación de los residuos usados para fabricarlo y es mucho menos contaminante a nivel
                            global que el resto del marcado.</p>
                    </div>
                </div>
                <div class="carta col-sm-12 col-lg-3" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom">
                    <img src="../img/collage.jpg" alt="Vehículos de tierra, mar y aire de biodiesel" class="imgCart">
                    <div>
                        <h3>Todo tipo de vehículos</h3>
                        <p class="cartaText">Nuestro biodiesel no solo sirve para adicionarlo a la gasolina, sino que
                            gracias a nuestro proceso
                            de purificación, se puede usar en cualquier tipo de vehículo, ya sea recorriendo la tierra,
                            surcando los mares o atravesando los cielos.</p>
                    </div>
                </div>
                <div class="carta col-sm-12 col-lg-3" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                    <img src="../img/quimi.jpg" alt="Imagen de química" class="imgCart">
                    <div>
                        <h3>Nuevas oportunidades</h3>
                        <p class="cartaText">Nuestro objetivo no es quedarnos como estamos, sino que tenemos un
                            departamento de I+D+i donde optimizamos
                            y mejoramos nuestro producto y abrimos las puertas a nuevas formas de energía para lograr la
                            menor contaminación posible.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="productos">
            <br>
            <h1 class="mb-5 d-flex align-items-center justify-content-center parallax" id="parallax2">Productos y
                materias primas</h1>
            <div class="flexCart">
                <div class="col-sm-12 col-lg-4">
                    <h2 class="mb-4 mt-4">Productos</h2>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 mt-2 mb-2" data-aos="zoom-in-down"
                            data-aos-anchor-placement="bottom-bottom">
                            <h3>Biodiesel</h3>
                            <p class="textProd">Es nuestro producto principal. Se puede usar como sustituto parcial o
                                total al combustible y se notará tanto
                                en niveles de contaminación como de ahorro económico. La pureza de nuestro biodiesel
                                permite que sea usado en motores sin restricción de filtro.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 mt-2 mb-2" data-aos="zoom-in"
                            data-aos-anchor-placement="bottom-bottom">
                            <h3>Glicerina</h3>
                            <p class="textProd">La glicerina es un subproducto derivado de la producción. Los usos que
                                se le pueden dar a este compuesto son bastantes y variados: vibras
                                sintéticas, fármacos, cosméticos lubricantes o pinturas. Con esto se erradica la
                                contaminación asociada a la producción de este valorado compuesto mediante otras vías.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 mt-2 mb-2" data-aos="zoom-in-up"
                            data-aos-anchor-placement="bottom-bottom">
                            <h3>Aceite de combustión</h3>
                            <p class="textProd">Este es otro subproducto, al igual que la glicerina. Es ideal para las
                                plantas de cogeneración, donde se produce el calor necesario y el restante
                                se aprovecha para generar electricidad, evitando así, la quema de productos como el
                                carbón, que son altamente contaminantes.</p>
                        </div>
                    </div>
                </div>
                <div id="imagenProduct" class="col-sm-12 col-lg-4 d-flex align-items-center">
                    <img src="../img/logo.png" alt="Logo de la empresa">
                </div>
                <div class="col-sm-12 col-lg-4">
                    <h2 class="mb-4 mt-4">Materias primas</h2>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12  mt-2 mb-2" data-aos="zoom-in-down"
                            data-aos-anchor-placement="bottom-bottom">
                            <h3>Aceite de fritura</h3>
                            <p class="textProd">El aceite usado procedente de la industria de la alimentación es uno de
                                los elementos más contaminantes que existen.
                                Es una amenaza para los suelos, los cuales pueden perder su fertilidad, y para las
                                aguas, tanto superficiales como subterráneas.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12  mt-2 mb-2" data-aos="zoom-in"
                            data-aos-anchor-placement="bottom-bottom">
                            <h3>Aceite de motor</h3>
                            <p class="textProd">Junto con los aceites de fritura, es otro gran contaminante. No solo
                                contamina el agua con la que entra en contacto, sino que
                                por los aditivos que lleva, crea una capa que impide la fotosíntesis si de alguna forma
                                llega a las plantas, que se ve agravado por su lenta degradación.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12  mt-2 mb-2" data-aos="zoom-in-up"
                            data-aos-anchor-placement="bottom-bottom">
                            <h3>Restos alimentarios</h3>
                            <p class="textProd">Estos desechos suelen tener un alto contenido de aceite, cómo por
                                ejemplo, salsas, condimentos, grasas, aceites,
                                mayonesa, etc. Con esta fuente, se retiran de la circulación restos de alimentos
                                consumidos o que están caducados, dándoles una salida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="historia">
            <br>
            <h1 class="mb-5 d-flex align-items-center justify-content-center parallax" id="parallax3">Historia</h1>
            <div class="cartaText">
                <h2 class="mx-auto">Unos inicios modestos</h2>
                <div class="row mx-auto contenedHist" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                    <img src="../img/start.jpg" alt="Salida de carrera" class="rounded-circle col-sm-12 col-lg-2">
                    <span class="col-sm-12 col-lg-1 blancHist"></span>
                    <p class="col-sm-12 col-lg-9 d-block textHist">Nuestra empresa comenzó en 2017 con una sencilla
                        idea, producir el mejor,
                        el menos contaminante y el más barato biodiesel del mercado. Para ello montamos una pequeña
                        fábrica en Dinamarca.
                        A varios empresarios locales les gustó nuestro producto y gracias a ellos pudimos despegar y
                        generar los suficientes
                        ingresos para seguir investigando y mejorar.</p>
                </div>
            </div>
            <div class="cartaText">
                <h2 class="mx-auto">El contrato que lo cambió todo</h2>
                <div class="row mx-auto contenedHist" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                    <p class="col-sm-12 col-lg-9 d-block textHist">En 2018, el gobierno del país estaba llevando a cabo
                        unas medidas para combatir la
                        contaminación y el cambio climático. Para ello se entrevistó con las empresas a nivel nacional y
                        la nuestra salió vencedora.
                        Gracias al concurso, nos encargaremos de convertir el aceite de fritura de los comedores
                        públicos y escuelas en biodiesel.</p>
                    <span class="col-sm-12 col-lg-1 blancHist"></span>
                    <img src="../img/escudo.png" alt="Escudo del gobierno de Dinamarca"
                        class="rounded-circle col-sm-12 col-lg-2">
                </div>
            </div>
            <div class="cartaText">
                <h2 class="mx-auto">Ampliación de la planta</h2>
                <div class="row mx-auto contenedHist" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                    <img src="../img/fabrica.jpg" alt="Imagen deuna fábrica" class="rounded-circle col-sm-12 col-lg-2">
                    <span class="col-sm-12 col-lg-1 blancHist"></span>
                    <p class="col-sm-12 col-lg-9 d-block textHist">Gracias al nuevo contrato, montamos una segunda línea
                        de mayor capacidad para hacer frente
                        no solo a la producción del biodiesel del aceite, sino a la demanda que de repente llegó al
                        hacerse oficial. Pusimos toda
                        nuestra energía e ilusión en mejorar día a día para dar lo que se esperaba de nosotros:
                        excelencia.</p>
                </div>
            </div>
            <div class="cartaText">
                <h2 class="mx-auto">Nos reinventamos</h2>
                <div class="row mx-auto contenedHist" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                    <p class="col-sm-12 col-lg-9 d-block textHist">A día de hoy, gracias al éxito y al esfuerzo en el
                        pasado, somos una de las marcas mejor valoradas
                        en el sector. Hemos abierto un centro de desarrollo para dar salida a un mayor número de
                        desechos que se puedan reutilizar y
                        abrirnos a nuevas formas de energía. Todo esto lo vamos a llevar a cabo sin perder de vista
                        nuestros valores y
                        objetivos: excelencia, calidad y la mínima contaminación posible.</p>
                    <span class="col-sm-12 col-lg-1 blancHist"></span>
                    <img src="../img/cohete.jpg" alt="Imagen del lazamiento de un cohete"
                        class="rounded-circle col-sm-12 col-lg-2">
                </div>
            </div>
        </section>
        <section id="produccion">
            <br>
            <h1 class="mb-5 d-flex align-items-center justify-content-center parallax" id="parallax4">Producción</h1>
            <div>
                <div id="chartDiv"></div>
            </div>
        </section>
        <section id="principios">
            <br>
            <h1 class="mb-5 d-flex align-items-center justify-content-center parallax" id="parallax5">Principios básicos
            </h1>
            <div class="marcoReacc">
                <p>Muchas personas que lo vean se preguntaran, ¿de qué está hecho el biodiesel y cómo se forma a partir
                    de aceite?</p>
                <p>El biodiesel está formado por ésteres. Estos son compuestos formados por cadenas de carbono unidas
                    unas a otras, terminando en un compuesto de carbono y oxígeno.</p>
                <img src="../img/reaccion.png" alt="Reacción principal del biodiesel" id="imgReacc"
                    data-aos="flip-down">
                <br><br>
                <p>Para partir de aceite usado, que está formado principalmente por triglicéridos, que en presencia de
                    un alcohol, en nuestro caso metanol, junto con un catalizador,
                    metilato potásico, vamos a obtener glicerina y los ésteres, que son las cadenas carbonadas separadas
                    del triglicérido, que es lo que se va a quemar en el proceso de combustión.
                    A este proceso se le llama transesterificación.</p>
            </div>
        </section>
        <section id="equipo">
            <br>
            <h1 class="mb-5 d-flex align-items-center justify-content-center parallax" id="parallax6">Equipo</h1>
            <div>
                <p class="imgCart mx-auto">Cómo no, no podríamos olvidarnos de las grandísimas que han hecho esto
                    posible, gracias a su esfuerzo y dedicación, hemos conseguido llegar hasta donde estamos.</p>
                <div class="flexCart">
                    <div class="carta col-sm-12 col-lg-2 infoPersonal" id="infoPersonal1" data-aos="fade-up-right">
                        <img src="../img/person3.png" alt="Foto de persona 1" class="imgCart">
                        <div class="contenedorNombre pb-1 mb-2">
                            <h4>Marta Castillo</h4>
                            <h5>Directora ejecutiva</h5>
                            <div class="redesPerso">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carta col-sm-12 col-lg-2 infoPersonal" data-aos="fade-right">
                        <img src="../img/person1.png" alt="Foto de persona 2" class="imgCart">
                        <div class="contenedorNombre pb-1 mb-2">
                            <h4>Alberto Díaz</h4>
                            <h5>Director estratégico</h5>
                            <div class="redesPerso">
                                <ul class="list-inline redesPerso">
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carta col-sm-12 col-lg-2 infoPersonal" data-aos="fade-left">
                        <img src="../img/person2.png" alt="Foto de persona 3" class="imgCart">
                        <div class="contenedorNombre pb-1 mb-2">
                            <h4>Max Hines</h4>
                            <h5>Director financiero</h5>
                            <div class="redesPerso">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carta col-sm-12 col-lg-2 infoPersonal" data-aos="fade-up-left">
                        <img src="../img/person4.png" alt="Foto de persona 4" class="imgCart">
                        <div class="contenedorNombre pb-1 mb-2">
                            <h4>Lucile Swanson</h4>
                            <h5>Directora I+D+i</h5>
                            <div class="redesPerso">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="redS">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contacto">
            <br>
            <h1 class="mb-5 d-flex align-items-center justify-content-center parallax" id="parallax7">Contacto</h1>
            <div class="row imgCart mx-auto">
                <div class="col-sm-12 col-lg-8 mx-auto">
                    <div class="map-container z-depth-1-half" id="mapa">
                        <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 text-left d-flex align-items-center mt-5" id="datosContacto"
                    data-aos="flip-right">
                    <div>
                        <div>
                            <h2 class="d-inline">Dirección</h2>
                            <p class="d-inline ml-3">Avedǿre Holme - Hvidovre - Dinamarca</p>
                        </div>
                        <div class="mt-5">
                            <h2 class="d-inline">Teléfono</h2>
                            <p class="d-inline ml-3">(0034) 638 745 735</p>
                        </div>
                        <div class="mt-5">
                            <h2 class="d-inline">Email </h2>
                            <p class="d-inline ml-5"><a href="mailto:info@greentech.com">info@greentech.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div th:replace="~{fragmentos/footer::footer}"></div>

    <!-- Menu -->
    <script>

        $("#opcionGestion").addClass("eliminar");
        $("#opcionCerrarSesion").addClass("eliminar");

    </script>

    <!-- Datos tabla -->
    <script>
        var chart = JSC.chart('chartDiv', {
            debug: true,
            type: 'line',

            legend: {
                template: '%name',
                position: 'inside top left'
            },
            defaultPoint_marker_type: 'none',
            xAxis_crosshair_enabled: true,
            yAxis_formatString: 'tn',

            series: [
                {
                    name: 'Producción (Tn)',
                    color: 'green',

                    points: [
                        [new Date(2017, 3, 8), 14, 01],
                        [new Date(2017, 3, 10), 28, 23],
                        [new Date(2017, 3, 12), 38, 30],
                        [new Date(2017, 3, 14), 56, 81],
                        [new Date(2017, 3, 16), 68, 31],
                        [new Date(2017, 3, 18), 77, 09],
                        [new Date(2017, 3, 20), 86, 00],
                        [new Date(2017, 3, 22), 98, 88],
                        [new Date(2017, 3, 24), 111, 08],
                        [new Date(2017, 3, 26), 123, 33],
                        [new Date(2017, 3, 28), 140, 76],
                        [new Date(2017, 3, 30), 154, 32],
                        [new Date(2017, 4, 2), 173, 81],
                        [new Date(2017, 4, 4), 187, 42],
                        [new Date(2017, 4, 6), 193, 30],
                        [new Date(2017, 4, 8), 204, 96],
                        [new Date(2017, 4, 10), 214, 05],
                        [new Date(2017, 4, 12), 223, 96],
                        [new Date(2017, 4, 14), 236, 39],
                        [new Date(2017, 4, 16), 248, 00],
                        [new Date(2017, 4, 18), 253, 96],
                        [new Date(2017, 4, 20), 266, 57],
                        [new Date(2017, 4, 22), 275, 17],
                        [new Date(2017, 4, 24), 281, 05],
                        [new Date(2017, 4, 26), 295, 34],
                        [new Date(2017, 4, 28), 304, 01],
                        [new Date(2017, 4, 30), 318, 09],
                        [new Date(2017, 5, 2), 329, 92],
                        [new Date(2017, 5, 4), 345, 97],
                        [new Date(2017, 5, 6), 353, 79],
                        [new Date(2017, 5, 8), 367, 37],
                        [new Date(2017, 5, 10), 384, 71],
                        [new Date(2017, 5, 12), 403, 50],
                        [new Date(2017, 5, 14), 417, 17],
                        [new Date(2017, 5, 16), 430, 88],
                        [new Date(2017, 5, 18), 445, 50],
                        [new Date(2017, 5, 20), 464, 10],
                        [new Date(2017, 5, 22), 482, 04],
                        [new Date(2017, 5, 24), 491, 10],
                        [new Date(2017, 5, 26), 500, 34],
                        [new Date(2017, 5, 28), 506, 73],
                        [new Date(2017, 5, 30), 513, 08],
                        [new Date(2017, 6, 2), 524, 25],
                        [new Date(2017, 6, 4), 531, 82],
                        [new Date(2017, 6, 6), 541, 12],
                        [new Date(2017, 6, 8), 560, 25],
                        [new Date(2017, 6, 10), 571, 77],
                        [new Date(2017, 6, 12), 588, 42],
                        [new Date(2017, 6, 14), 595, 94],
                        [new Date(2017, 6, 16), 603, 03],
                        [new Date(2017, 6, 18), 616, 88],
                        [new Date(2017, 6, 20), 636, 59],
                        [new Date(2017, 6, 22), 650, 53],
                        [new Date(2017, 6, 24), 656, 51],
                        [new Date(2017, 6, 26), 670, 57],
                        [new Date(2017, 6, 28), 675, 91],
                        [new Date(2017, 6, 30), 691, 13],
                        [new Date(2017, 7, 2), 705, 65],
                        [new Date(2017, 7, 4), 714, 14],
                        [new Date(2017, 7, 6), 729, 34],
                        [new Date(2017, 7, 8), 748, 02],
                        [new Date(2017, 7, 10), 755, 82],
                        [new Date(2017, 7, 12), 761, 63],
                        [new Date(2017, 7, 14), 775, 58],
                        [new Date(2017, 7, 16), 787, 34],
                        [new Date(2017, 7, 18), 798, 47],
                        [new Date(2017, 7, 20), 812, 32],
                        [new Date(2017, 7, 22), 819, 25],
                        [new Date(2017, 7, 24), 834, 24],
                        [new Date(2017, 7, 26), 840, 81],
                        [new Date(2017, 7, 28), 854, 02],
                        [new Date(2017, 7, 30), 866, 49],
                        [new Date(2017, 8, 2), 882, 85],
                        [new Date(2017, 8, 4), 889, 31],
                        [new Date(2017, 8, 6), 899, 32],
                        [new Date(2017, 8, 8), 907, 23],
                        [new Date(2017, 8, 10), 920, 77],
                        [new Date(2017, 8, 12), 938, 09],
                        [new Date(2017, 8, 14), 950, 48],
                        [new Date(2017, 8, 16), 962, 50],
                        [new Date(2017, 8, 18), 967, 89],
                        [new Date(2017, 8, 20), 975, 62],
                        [new Date(2017, 8, 22), 992, 82],
                        [new Date(2017, 8, 24), 1005, 10],
                        [new Date(2017, 8, 26), 1021, 18],
                        [new Date(2017, 8, 28), 1036, 36],
                        [new Date(2017, 8, 30), 1054, 56],
                        [new Date(2017, 9, 2), 1066, 86],
                        [new Date(2017, 9, 4), 1080, 90],
                        [new Date(2017, 9, 6), 1094, 56],
                        [new Date(2017, 9, 8), 1111, 13],
                        [new Date(2017, 9, 10), 1127, 81],
                        [new Date(2017, 9, 12), 1143, 38],
                        [new Date(2017, 9, 14), 1162, 37],
                        [new Date(2017, 9, 16), 1172, 35],
                        [new Date(2017, 9, 18), 1191, 16],
                        [new Date(2017, 9, 20), 1197, 19],
                        [new Date(2017, 9, 22), 1205, 07],
                        [new Date(2017, 9, 24), 1214, 14],
                        [new Date(2017, 9, 26), 1233, 45],
                        [new Date(2017, 9, 28), 1249, 56],
                        [new Date(2017, 9, 30), 1256, 36],
                        [new Date(2017, 10, 2), 1267, 06],
                        [new Date(2017, 10, 4), 1272, 12],
                        [new Date(2017, 10, 6), 1278, 76],
                        [new Date(2017, 10, 8), 1294, 57],
                        [new Date(2017, 10, 10), 1313, 32],
                        [new Date(2017, 10, 12), 1331, 44],
                        [new Date(2017, 10, 14), 1338, 80],
                        [new Date(2017, 10, 16), 1344, 40],
                        [new Date(2017, 10, 18), 1358, 37],
                        [new Date(2017, 10, 20), 1373, 44],
                        [new Date(2017, 10, 22), 1378, 70],
                        [new Date(2017, 10, 24), 1398, 21],
                        [new Date(2017, 10, 26), 1403, 77],
                        [new Date(2017, 10, 28), 1412, 16],
                        [new Date(2017, 10, 30), 1418, 26],
                        [new Date(2017, 11, 2), 1428, 14],
                        [new Date(2017, 11, 4), 1443, 51],
                        [new Date(2017, 11, 6), 1453, 30],
                        [new Date(2017, 11, 8), 1466, 11],
                        [new Date(2017, 11, 10), 1471, 93],
                        [new Date(2017, 11, 12), 1486, 60],
                        [new Date(2017, 11, 14), 1495, 87],
                        [new Date(2017, 11, 16), 1507, 72],
                        [new Date(2017, 11, 18), 1524, 88],
                        [new Date(2017, 11, 20), 1536, 69],
                        [new Date(2017, 11, 22), 1552, 84],
                        [new Date(2017, 11, 24), 1571, 12],
                        [new Date(2017, 11, 26), 1584, 91],
                        [new Date(2017, 11, 28), 1598, 00],
                        [new Date(2017, 11, 30), 1608, 63],
                        [new Date(2018, 0, 2), 1624, 76],
                        [new Date(2018, 0, 4), 1637, 95],
                        [new Date(2018, 0, 6), 1653, 30],
                        [new Date(2018, 0, 8), 1664, 93],
                        [new Date(2018, 0, 10), 1684, 73],
                        [new Date(2018, 0, 12), 1706, 36],
                        [new Date(2018, 0, 14), 1738, 38],
                        [new Date(2018, 0, 16), 1756, 36],
                        [new Date(2018, 0, 18), 1786, 97],
                        [new Date(2018, 0, 20), 1818, 88],
                        [new Date(2018, 0, 22), 1832, 13],
                        [new Date(2018, 0, 24), 1856, 09],
                        [new Date(2018, 0, 26), 1875, 95],
                        [new Date(2018, 0, 28), 1910, 89],
                        [new Date(2018, 0, 30), 1941, 49],
                        [new Date(2018, 1, 2), 1959, 57],
                        [new Date(2018, 1, 4), 1987, 21],
                        [new Date(2018, 1, 6), 2019, 86],
                        [new Date(2018, 1, 8), 2049, 93],
                        [new Date(2018, 1, 10), 2064, 24],
                        [new Date(2018, 1, 12), 2094, 21],
                        [new Date(2018, 1, 14), 2121, 45],
                        [new Date(2018, 1, 16), 2153, 12],
                        [new Date(2018, 1, 18), 2178, 30],
                        [new Date(2018, 1, 20), 2192, 09],
                        [new Date(2018, 1, 22), 2220, 86],
                        [new Date(2018, 1, 24), 2238, 49],
                        [new Date(2018, 1, 26), 2277, 82],
                        [new Date(2018, 1, 28), 2301, 63],
                        [new Date(2018, 2, 2), 2325, 16],
                        [new Date(2018, 2, 4), 2353, 46],
                        [new Date(2018, 2, 6), 2368, 97],
                        [new Date(2018, 2, 8), 2387, 18],
                        [new Date(2018, 2, 10), 2397, 55],
                        [new Date(2018, 2, 12), 2424, 67],
                        [new Date(2018, 2, 14), 2447, 09],
                        [new Date(2018, 2, 16), 2472, 37],
                        [new Date(2018, 2, 18), 2510, 67],
                        [new Date(2018, 2, 20), 2527, 50],
                        [new Date(2018, 2, 22), 2554, 64],
                        [new Date(2018, 2, 24), 2586, 68],
                        [new Date(2018, 2, 26), 2625, 08],
                        [new Date(2018, 2, 28), 2649, 37],
                        [new Date(2018, 2, 30), 2663, 33],
                        [new Date(2018, 3, 2), 2698, 06],
                        [new Date(2018, 3, 4), 2724, 58],
                        [new Date(2018, 3, 6), 2737, 58],
                        [new Date(2018, 3, 8), 2773, 27],
                        [new Date(2018, 3, 10), 2805, 12],
                        [new Date(2018, 3, 12), 2841, 90],
                        [new Date(2018, 3, 14), 2859, 70],
                        [new Date(2018, 3, 16), 2893, 86],
                        [new Date(2018, 3, 18), 2912, 27],
                        [new Date(2018, 3, 20), 2934, 18],
                        [new Date(2018, 3, 22), 2965, 69],
                        [new Date(2018, 3, 24), 2993, 17],
                        [new Date(2018, 3, 26), 3022, 81],
                        [new Date(2018, 3, 28), 3032, 94],
                        [new Date(2018, 3, 30), 3054, 40],
                        [new Date(2018, 4, 2), 3089, 20],
                        [new Date(2018, 4, 4), 3102, 79],
                        [new Date(2018, 4, 6), 3140, 35],
                        [new Date(2018, 4, 8), 3160, 79],
                        [new Date(2018, 4, 10), 3178, 72],
                        [new Date(2018, 4, 12), 3189, 77],
                        [new Date(2018, 4, 14), 3200, 36],
                        [new Date(2018, 4, 16), 3222, 72],
                        [new Date(2018, 4, 18), 3247, 87],
                        [new Date(2018, 4, 20), 3267, 18],
                        [new Date(2018, 4, 22), 3294, 50],
                        [new Date(2018, 4, 24), 3329, 39],
                        [new Date(2018, 4, 26), 3361, 16],
                        [new Date(2018, 4, 28), 3385, 27],
                        [new Date(2018, 4, 30), 3420, 62],
                        [new Date(2018, 5, 2), 3442, 46],
                        [new Date(2018, 5, 4), 3468, 55],
                        [new Date(2018, 5, 6), 3481, 97],
                        [new Date(2018, 5, 8), 3498, 07],
                        [new Date(2018, 5, 10), 3513, 11],
                        [new Date(2018, 5, 12), 3541, 93],
                        [new Date(2018, 5, 14), 3569, 40],
                        [new Date(2018, 5, 16), 3596, 87],
                        [new Date(2018, 5, 18), 3616, 94],
                        [new Date(2018, 5, 20), 3656, 45],
                        [new Date(2018, 5, 22), 3696, 18],
                        [new Date(2018, 5, 24), 3716, 91],
                        [new Date(2018, 5, 26), 3727, 08],
                        [new Date(2018, 5, 28), 3761, 07],
                        [new Date(2018, 5, 30), 3771, 40],
                        [new Date(2018, 6, 2), 3790, 63],
                        [new Date(2018, 6, 4), 3827, 02],
                        [new Date(2018, 6, 6), 3847, 29],
                        [new Date(2018, 6, 8), 3880, 06],
                        [new Date(2018, 6, 10), 3903, 12],
                        [new Date(2018, 6, 12), 3918, 04],
                        [new Date(2018, 6, 14), 3944, 27],
                        [new Date(2018, 6, 16), 3956, 89],
                        [new Date(2018, 6, 18), 3971, 47],
                        [new Date(2018, 6, 20), 3982, 24],
                        [new Date(2018, 6, 22), 4012, 95],
                        [new Date(2018, 6, 24), 4030, 40],
                        [new Date(2018, 6, 26), 4052, 62],
                        [new Date(2018, 6, 28), 4066, 03],
                        [new Date(2018, 6, 30), 4092, 55],
                        [new Date(2018, 7, 2), 4107, 35],
                        [new Date(2018, 7, 4), 4123, 63],
                        [new Date(2018, 7, 6), 4146, 23],
                        [new Date(2018, 7, 8), 4168, 20],
                        [new Date(2018, 7, 10), 4181, 97],
                        [new Date(2018, 7, 12), 4221, 77],
                        [new Date(2018, 7, 14), 4252, 47],
                        [new Date(2018, 7, 16), 4275, 96],
                        [new Date(2018, 7, 18), 4294, 70],
                        [new Date(2018, 7, 20), 4333, 49],
                        [new Date(2018, 7, 22), 4371, 69],
                        [new Date(2018, 7, 24), 4404, 45],
                        [new Date(2018, 7, 26), 4419, 10],
                        [new Date(2018, 7, 28), 4442, 91],
                        [new Date(2018, 7, 30), 4481, 15],
                        [new Date(2018, 8, 2), 4508, 70],
                        [new Date(2018, 8, 4), 4543, 41],
                        [new Date(2018, 8, 6), 4560, 50],
                        [new Date(2018, 8, 8), 4584, 25],
                        [new Date(2018, 8, 10), 4599, 58],
                        [new Date(2018, 8, 12), 4632, 51],
                        [new Date(2018, 8, 14), 4652, 29],
                        [new Date(2018, 8, 16), 4691, 47],
                        [new Date(2018, 8, 18), 4721, 05],
                        [new Date(2018, 8, 20), 4741, 08],
                        [new Date(2018, 8, 22), 4780, 23],
                        [new Date(2018, 8, 24), 4814, 22],
                        [new Date(2018, 8, 26), 4826, 16],
                        [new Date(2018, 8, 28), 4858, 29],
                        [new Date(2018, 8, 30), 4873, 30],
                        [new Date(2018, 9, 2), 4902, 03],
                        [new Date(2018, 9, 4), 4915, 22],
                        [new Date(2018, 9, 6), 4928, 74],
                        [new Date(2018, 9, 8), 4967, 63],
                        [new Date(2018, 9, 10), 4987, 66],
                        [new Date(2018, 9, 12), 5015, 05],
                        [new Date(2018, 9, 14), 5036, 69],
                        [new Date(2018, 9, 16), 5051, 96],
                        [new Date(2018, 9, 18), 5084, 57],
                        [new Date(2018, 9, 20), 5123, 96],
                        [new Date(2018, 9, 22), 5148, 83],
                        [new Date(2018, 9, 24), 5172, 93],
                        [new Date(2018, 9, 26), 5209, 77],
                        [new Date(2018, 9, 28), 5220, 09],
                        [new Date(2018, 9, 30), 5248, 83],
                        [new Date(2018, 10, 2), 5270, 92],
                        [new Date(2018, 10, 4), 5308, 63],
                        [new Date(2018, 10, 6), 5318, 87],
                        [new Date(2018, 10, 8), 5329, 01],
                        [new Date(2018, 10, 10), 5343, 76],
                        [new Date(2018, 10, 12), 5367, 91],
                        [new Date(2018, 10, 14), 5397, 09],
                        [new Date(2018, 10, 16), 5418, 28],
                        [new Date(2018, 10, 18), 5449, 67],
                        [new Date(2018, 10, 20), 5482, 04],
                        [new Date(2018, 10, 22), 5518, 75],
                        [new Date(2018, 10, 24), 5546, 38],
                        [new Date(2018, 10, 26), 5570, 29],
                        [new Date(2018, 10, 28), 5580, 95],
                        [new Date(2018, 10, 30), 5609, 21],
                        [new Date(2018, 11, 2), 5622, 37],
                        [new Date(2018, 11, 4), 5637, 59],
                        [new Date(2018, 11, 6), 5667, 29],
                        [new Date(2018, 11, 8), 5697, 04],
                        [new Date(2018, 11, 10), 5732, 22],
                        [new Date(2018, 11, 12), 5761, 99],
                        [new Date(2018, 11, 14), 5789, 69],
                        [new Date(2018, 11, 16), 5809, 56],
                        [new Date(2018, 11, 18), 5845, 98],
                        [new Date(2018, 11, 20), 5857, 51],
                        [new Date(2018, 11, 22), 5869, 89],
                        [new Date(2018, 11, 24), 5883, 16],
                        [new Date(2018, 11, 26), 5909, 95],
                        [new Date(2018, 11, 28), 5937, 64],
                        [new Date(2018, 11, 30), 5958, 51],
                        [new Date(2019, 0, 2), 5983, 61],
                        [new Date(2019, 0, 4), 6012, 37],
                        [new Date(2019, 0, 6), 6043, 90],
                        [new Date(2019, 0, 8), 6079, 91],
                        [new Date(2019, 0, 10), 6096, 25],
                        [new Date(2019, 0, 12), 6123, 55],
                        [new Date(2019, 0, 14), 6152, 04],
                        [new Date(2019, 0, 16), 6180, 06],
                        [new Date(2019, 0, 18), 6209, 66],
                        [new Date(2019, 0, 20), 6229, 37],
                        [new Date(2019, 0, 22), 6248, 71],
                        [new Date(2019, 0, 24), 6265, 42],
                        [new Date(2019, 0, 26), 6289, 65],
                        [new Date(2019, 0, 28), 6305, 57],
                        [new Date(2019, 0, 30), 6331, 59],
                        [new Date(2019, 1, 2), 6352, 41],
                        [new Date(2019, 1, 4), 6389, 43],
                        [new Date(2019, 1, 6), 6408, 34],
                        [new Date(2019, 1, 8), 6429, 98],
                        [new Date(2019, 1, 10), 6449, 35],
                        [new Date(2019, 1, 12), 6470, 87],
                        [new Date(2019, 1, 14), 6501, 36],
                        [new Date(2019, 1, 16), 6525, 87],
                        [new Date(2019, 1, 18), 6560, 89],
                        [new Date(2019, 1, 20), 6573, 42],
                        [new Date(2019, 1, 22), 6601, 62],
                        [new Date(2019, 1, 24), 6638, 31],
                        [new Date(2019, 1, 26), 6661, 49],
                        [new Date(2019, 1, 28), 6687, 85],
                        [new Date(2019, 2, 2), 6714, 73],
                        [new Date(2019, 2, 4), 6725, 19],
                        [new Date(2019, 2, 6), 6751, 02],
                        [new Date(2019, 2, 8), 6763, 33],
                        [new Date(2019, 2, 10), 6800, 34],
                        [new Date(2019, 2, 12), 6839, 05],
                        [new Date(2019, 2, 14), 6852, 95],
                        [new Date(2019, 2, 16), 6886, 30],
                        [new Date(2019, 2, 18), 6908, 93],
                        [new Date(2019, 2, 20), 6939, 36],
                        [new Date(2019, 2, 22), 6951, 37],
                        [new Date(2019, 2, 24), 6988, 00],
                        [new Date(2019, 2, 26), 7005, 94],
                        [new Date(2019, 2, 28), 7044, 23],
                        [new Date(2019, 2, 30), 7066, 97],
                        [new Date(2019, 3, 2), 7097, 80],
                        [new Date(2019, 3, 4), 7120, 80],
                        [new Date(2019, 3, 6), 7159, 81],
                        [new Date(2019, 3, 8), 7195, 46],
                        [new Date(2019, 3, 10), 7226, 55],
                        [new Date(2019, 3, 12), 7260, 17],
                        [new Date(2019, 3, 14), 7272, 24],
                        [new Date(2019, 3, 16), 7285, 06],
                        [new Date(2019, 3, 18), 7309, 88],
                        [new Date(2019, 3, 20), 7338, 67],
                        [new Date(2019, 3, 22), 7358, 10],
                        [new Date(2019, 3, 24), 7392, 21],
                        [new Date(2019, 3, 26), 7402, 87],
                        [new Date(2019, 3, 28), 7437, 28],
                        [new Date(2019, 3, 30), 7461, 50],
                        [new Date(2019, 4, 2), 7498, 82],
                        [new Date(2019, 4, 4), 7517, 95],
                        [new Date(2019, 4, 6), 7537, 04],
                        [new Date(2019, 4, 8), 7548, 09],
                        [new Date(2019, 4, 10), 7585, 53],
                        [new Date(2019, 4, 12), 7623, 80],
                        [new Date(2019, 4, 14), 7654, 34],
                        [new Date(2019, 4, 16), 7667, 67],
                        [new Date(2019, 4, 18), 7686, 96],
                        [new Date(2019, 4, 20), 7714, 12],
                        [new Date(2019, 4, 22), 7742, 54],
                        [new Date(2019, 4, 24), 7772, 44],
                        [new Date(2019, 4, 26), 7797, 87],
                        [new Date(2019, 4, 28), 7809, 22],
                        [new Date(2019, 4, 30), 7826, 59],
                        [new Date(2019, 5, 2), 7840, 74],
                        [new Date(2019, 5, 4), 7856, 71],
                        [new Date(2019, 5, 6), 7879, 42],
                        [new Date(2019, 5, 8), 7916, 79],
                        [new Date(2019, 5, 10), 7937, 38],
                        [new Date(2019, 5, 12), 7966, 91],
                        [new Date(2019, 5, 14), 8000, 03],
                        [new Date(2019, 5, 16), 8011, 87],
                        [new Date(2019, 5, 18), 8026, 08],
                        [new Date(2019, 5, 20), 8060, 99],
                        [new Date(2019, 5, 22), 8071, 81],
                        [new Date(2019, 5, 24), 8098, 40],
                        [new Date(2019, 5, 26), 8113, 41],
                        [new Date(2019, 5, 28), 8151, 92],
                        [new Date(2019, 5, 30), 8188, 35],
                        [new Date(2019, 6, 2), 8202, 90],
                        [new Date(2019, 6, 4), 8230, 06],
                        [new Date(2019, 6, 6), 8261, 16],
                        [new Date(2019, 6, 8), 8289, 11],
                        [new Date(2019, 6, 10), 8327, 02],
                        [new Date(2019, 6, 12), 8355, 10],
                        [new Date(2019, 6, 14), 8368, 97],
                        [new Date(2019, 6, 16), 8381, 07],
                        [new Date(2019, 6, 18), 8411, 74],
                        [new Date(2019, 6, 20), 8433, 67],
                        [new Date(2019, 6, 22), 8454, 97],
                        [new Date(2019, 6, 24), 8468, 08],
                        [new Date(2019, 6, 26), 8493, 50],
                        [new Date(2019, 6, 28), 8509, 78],
                        [new Date(2019, 6, 30), 8524, 90],
                        [new Date(2019, 7, 2), 8564, 17],
                        [new Date(2019, 7, 4), 8583, 76],
                        [new Date(2019, 7, 6), 8621, 49],
                        [new Date(2019, 7, 8), 8659, 93],
                        [new Date(2019, 7, 10), 8684, 21],
                        [new Date(2019, 7, 12), 8701, 68],
                        [new Date(2019, 7, 14), 8738, 54],
                        [new Date(2019, 7, 16), 8749, 99],
                        [new Date(2019, 7, 18), 8789, 57],
                        [new Date(2019, 7, 20), 8816, 12],
                        [new Date(2019, 7, 22), 8831, 38],
                        [new Date(2019, 7, 24), 8846, 57],
                        [new Date(2019, 7, 26), 8857, 34],
                        [new Date(2019, 7, 28), 8893, 20],
                        [new Date(2019, 7, 30), 8912, 66],
                        [new Date(2019, 8, 2), 8942, 93],
                        [new Date(2019, 8, 4), 8968, 22],
                        [new Date(2019, 8, 6), 8995, 30],
                        [new Date(2019, 8, 8), 9021, 98],
                        [new Date(2019, 8, 10), 9032, 21],
                        [new Date(2019, 8, 12), 9054, 58],
                        [new Date(2019, 8, 14), 9080, 84],
                        [new Date(2019, 8, 16), 9102, 60],
                        [new Date(2019, 8, 18), 9112, 71],
                        [new Date(2019, 8, 20), 9144, 99],
                        [new Date(2019, 8, 22), 9176, 15],
                        [new Date(2019, 8, 24), 9199, 97],
                        [new Date(2019, 8, 26), 9224, 38],
                        [new Date(2019, 8, 28), 9256, 68],
                        [new Date(2019, 8, 30), 9294, 94],
                        [new Date(2019, 9, 2), 9312, 11],
                        [new Date(2019, 9, 4), 9341, 69],
                        [new Date(2019, 9, 6), 9373, 84],
                        [new Date(2019, 9, 8), 9383, 98],
                        [new Date(2019, 9, 10), 9405, 58],
                        [new Date(2019, 9, 12), 9435, 08],
                        [new Date(2019, 9, 14), 9450, 30],
                        [new Date(2019, 9, 16), 9472, 46],
                        [new Date(2019, 9, 18), 9504, 25],
                        [new Date(2019, 9, 20), 9520, 11],
                        [new Date(2019, 9, 22), 9544, 12],
                        [new Date(2019, 9, 24), 9567, 08],
                        [new Date(2019, 9, 26), 9593, 63],
                        [new Date(2019, 9, 28), 9605, 44],
                        [new Date(2019, 9, 30), 9645, 00],
                        [new Date(2019, 10, 2), 9657, 56],
                        [new Date(2019, 10, 4), 9683, 67],
                        [new Date(2019, 10, 6), 9714, 21],
                        [new Date(2019, 10, 8), 9753, 63],
                        [new Date(2019, 10, 10), 9787, 70],
                        [new Date(2019, 10, 12), 9801, 64],
                        [new Date(2019, 10, 14), 9831, 41],
                        [new Date(2019, 10, 16), 9867, 83],
                        [new Date(2019, 10, 18), 9881, 54],
                        [new Date(2019, 10, 20), 9919, 03],
                        [new Date(2019, 10, 22), 9938, 78],
                        [new Date(2019, 10, 24), 9969, 26],
                        [new Date(2019, 10, 26), 9991, 39],
                        [new Date(2019, 10, 28), 10012, 78],
                        [new Date(2019, 10, 30), 10025, 74],
                        [new Date(2019, 11, 2), 10038, 26],
                        [new Date(2019, 11, 4), 10064, 19],
                        [new Date(2019, 11, 6), 10086, 79],
                        [new Date(2019, 11, 8), 10118, 42],
                        [new Date(2019, 11, 10), 10143, 68],
                        [new Date(2019, 11, 12), 10177, 41],
                        [new Date(2019, 11, 14), 10189, 23],
                        [new Date(2019, 11, 16), 10211, 62],
                        [new Date(2019, 11, 18), 10247, 78],
                        [new Date(2019, 11, 20), 10285, 33],
                        [new Date(2019, 11, 22), 10299, 44],
                        [new Date(2019, 11, 24), 10311, 83],
                        [new Date(2019, 11, 26), 10333, 76],
                        [new Date(2019, 11, 28), 10356, 97],
                        [new Date(2019, 11, 30), 10380, 04],
                        [new Date(2020, 0, 2), 10400, 02],
                        [new Date(2020, 0, 4), 10411, 55],
                        [new Date(2020, 0, 6), 10448, 45],
                        [new Date(2020, 0, 8), 10478, 51],
                        [new Date(2020, 0, 10), 10499, 82],
                        [new Date(2020, 0, 12), 10530, 64],
                        [new Date(2020, 0, 14), 10553, 17],
                        [new Date(2020, 0, 16), 10576, 14],
                        [new Date(2020, 0, 18), 10597, 84],
                        [new Date(2020, 0, 20), 10627, 65],
                        [new Date(2020, 0, 22), 10660, 78],
                        [new Date(2020, 0, 24), 10679, 33],
                        [new Date(2020, 0, 26), 10713, 74],
                        [new Date(2020, 0, 28), 10734, 09],
                        [new Date(2020, 0, 30), 10763, 84],
                        [new Date(2020, 1, 2), 10798, 60],
                        [new Date(2020, 1, 4), 10815, 25],
                        [new Date(2020, 1, 6), 10844, 97],
                        [new Date(2020, 1, 8), 10879, 50],
                        [new Date(2020, 1, 10), 10912, 93],
                        [new Date(2020, 1, 12), 10941, 63],
                        [new Date(2020, 1, 14), 10981, 41],
                        [new Date(2020, 1, 16), 11004, 98],
                        [new Date(2020, 1, 18), 11032, 03],
                        [new Date(2020, 1, 20), 11070, 90],
                        [new Date(2020, 1, 22), 11084, 36],
                        [new Date(2020, 1, 24), 11098, 62],
                        [new Date(2020, 1, 26), 11129, 00],
                        [new Date(2020, 1, 28), 11152, 52],
                        [new Date(2020, 2, 2), 11166, 17],
                        [new Date(2020, 2, 4), 11202, 40],
                        [new Date(2020, 2, 6), 11234, 11],
                        [new Date(2020, 2, 8), 11247, 84],
                        [new Date(2020, 2, 10), 11283, 76],
                        [new Date(2020, 2, 12), 11323, 61],
                        [new Date(2020, 2, 14), 11339, 54],
                        [new Date(2020, 2, 16), 11357, 55],
                        [new Date(2020, 2, 18), 11394, 28],
                        [new Date(2020, 2, 20), 11405, 03],
                        [new Date(2020, 2, 22), 11435, 88],
                        [new Date(2020, 2, 24), 11447, 60],
                        [new Date(2020, 2, 26), 11474, 81],
                        [new Date(2020, 2, 28), 11495, 06],
                        [new Date(2020, 2, 30), 11512, 93],
                        [new Date(2020, 3, 2), 11549, 70],
                        [new Date(2020, 3, 4), 11559, 90],
                        [new Date(2020, 3, 6), 11570, 09],
                        [new Date(2020, 3, 8), 11586, 16],
                        [new Date(2020, 3, 10), 11601, 05],
                        [new Date(2020, 3, 12), 11617, 19],
                        [new Date(2020, 3, 14), 11630, 13],
                        [new Date(2020, 3, 16), 11667, 88],
                        [new Date(2020, 3, 18), 11698, 88],
                        [new Date(2020, 3, 20), 11734, 12],
                        [new Date(2020, 3, 22), 11753, 26],
                        [new Date(2020, 3, 24), 11772, 23],
                        [new Date(2020, 3, 26), 11790, 93],
                        [new Date(2020, 3, 28), 11824, 82],
                        [new Date(2020, 3, 30), 11862, 36],
                        [new Date(2020, 4, 2), 11889, 77],
                    ]
                }
            ]
        }); 
    </script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 200,
            delay: 0,
            duration: 500
        });
    </script>



</body>

</html>