<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head(titulo='Iniciar sesión')}">
    <meta name="description" content="Área donde se procede al login.">
</head>


<body>

    <div th:replace="~{fragmentos/nav::nav}"></div>
    <br>
    <main>
        <section class="conten mt-5 d-flex align-items-center">
            <div id="contenInici">
                <h3 class="text-center mt-2 contenLog">Inicio de sesión</h3>
                <form action="" method="POST">
                    <div class="row mt-5">
                        <div class="form-group col-sm-12 col-xl-6">
                            <label for="usuarL" class="blk">Usuario:</label>
                            <input type="text" class="form-control" placeholder="Inserte el nombre de usuario"
                                id="usuarL" name="usuarL" required>
                        </div>
                        <div class="form-group col-sm-12 col-xl-6">
                            <label for="pwdL" class="blk">Contraseña:</label>
                            <input type="password" class="form-control" placeholder="Inserte la contraseña" id="pwdL"
                                name="pwdL" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark botonEnv mt-5" value="Enviar" id="enviar2">Enviar</button>
                </form>
            </div>
        </section>
    </main>
    <div th:replace="~{fragmentos/footer::footer}"></div>


</body>

</html>