<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos/head::head(titulo='Registro')}">
    <meta name="description" content="Área donde se procede al registro del cliente.">
</head>


<body>

    <div th:replace="~{fragmentos/nav::nav}"></div>
    <br>
    <main>
        <section class="conten mt-5">
            <h3 class="text-center mt-2">Registro de un nuevo usuario</h3>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>Instrucciones</p>
                <p>La contraseña tiene que tener un mínimo de 8 caracteres.</p>
                <p>El DNI tiene que ser un formato español: 8 número seguidos de una letra (ej: 12345678A).</p>
                <p>El número de teléfono lo forman 9 dígitos y tiene que empezar por 9 o 6.</p>
                <p>El dominio del correo deberá ser de 2 o 3 caracteres.</p>
                <p>El nombre y apellido solo permiten caracteres alfabéticos empezando el primero por mayúscula</p>
            </div>
            <form action="#" method="POST" onsubmit="return validar();" th:action="@{/nuevo/submit}"
                th:object="${clienteFrom}">
                <div class="row">
                    <div class="form-group col-sm-12 col-xl-5">
                        <label for="nombre" class="ml-3">Nombre<span class="error"> *</span></label>
                        <input type="text" class="form-control" placeholder="Inserte el nombre" id="nombre" size="50"
                            th:field="*{nombre}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                    <div class="form-group col-sm-12 col-xl-5">
                        <label for="apellidos" class="ml-3">Apellidos<span class="error"> *</span></label>
                        <input type="text" class="form-control" placeholder="Inserte el/los apellidos" id="apellidos"
                            size="50" th:field="*{apellido}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                    <div class="form-group col-sm-12 col-xl-2">
                        <label for="dni" class="blk ml-3">DNI<span class="error"> *</span></label>
                        <input type="text" class="form-control" placeholder="Inserte el DNI" id="dni" size="9"
                            th:field="*{dni}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12 col-xl-3">
                        <label for="fecha" class="blk ml-3">Fecha de nacimiento<span class="error"> *</span></label>
                        <input type="date" class="form-control" id="fecha" th:field="*{fechaNacimiento}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                    <div class="form-group col-sm-12 col-xl-2">
                        <label for="telef" class="blk ml-3">Teléfono<span class="error"> *</span></label>
                        <input type="tel" class="form-control" id="telef" placeholder="Inserte el número"
                            th:field="*{telefono}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                    <div class="form-group col-sm-12 col-xl-7">
                        <label for="email" class="blk ml-3">Cuenta de correo<span class="error"> *</span></label>
                        <input type="email" class="form-control" placeholder="Inserte el email" id="email"
                            th:field="*{correo}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group btn-block col-sm-12 col-xl-2">
                        <label for="pais" class="ml-3">País<span class="error"> *</span></label><br>
                        <select id="pais" class="form-control" th:field="*{pais}">
                            <option th:each="pais : ${listaPais}" th:value="${pais.idPais}" th:text="${pais.nombre}">
                                España</option>
                        </select>
                        <div class="error ml-3"><span></span></div>
                    </div>
                    <div class="form-group col-sm-12 col-xl-10">
                        <label for="direccion" class="blk ml-3">Dirección<span class="error"> *</span></label>
                        <input type="text" class="form-control" placeholder="Inserte la dirección" id="direccion"
                            th:field="*{direccion}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12 col-xl-3">
                        <label for="usuar" class="blk ml-3">Nombre de usuario<span class="error"> *</span></label>
                        <input type="text" class="form-control" placeholder="Inserte el nombre de usuario" id="usuar"
                            th:field="*{usuario}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                    <div class="form-group col-sm-12 col-xl-4">
                        <label for="pwd1" class="blk ml-3">Contraseña<span class="error"> *</span></label>
                        <input type="password" class="form-control"
                            placeholder="Inserte la contraseña (mínimo 8 caracteres)" id="pwd1"
                            th:field="*{contrasenya}">
                        <div class="error ml-3"><span></span></div>
                    </div>
                    <div class="form-group col-sm-12 col-xl-4">
                        <label for="pwd2" class="blk ml-3">Confirme contraseña<span class="error"> *</span></label>
                        <input type="password" class="form-control" placeholder="Inserte la misma contraseña" id="pwd2">
                        <div class="error ml-3"><span></span></div>
                    </div>
                    <div class="form-group col-sm-12 col-xl-1 mx-auto">
                        <span class="blk mb-3">&nbsp; </span>
                        <i id="ojo" class="fas ojo fa-eye fa-lg"></i>
                        <i id="ojo2" class="fas ojo fa-eye-slash fa-lg"></i>
                    </div>
                </div>
                <div class="custom-control custom-checkbox pmd-checkbox">
                    <input type="checkbox" class="custom-control-input" id="client-sidecustomControlValidation1"
                        required>
                    <label class="custom-control-label" for="client-sidecustomControlValidation1">Acepta los términos y
                        condiciones</label>
                </div>
                <button type="submit" class="btn btn-dark botonEnv mt-3" value="Enviar" id="enviar">Enviar</button>
            </form>
        </section>
    </main>
    <div th:replace="~{fragmentos/footer::footer}"></div>

    <script>
        $(function () {
            var numero = 0;
            $("#ojo").hide();
            $(".ojo").click(function (event) {
                numero += 1;

                if (numero % 2 != 0) {
                    $("#ojo").show();
                    $("#ojo2").hide();
                    $("#pwd1").prop('type', 'text');
                    $("#pwd2").prop('type', 'text');
                }
                if (numero % 2 == 0) {
                    $("#ojo2").show();
                    $("#ojo").hide();
                    $("#pwd1").prop('type', 'password');
                    $("#pwd2").prop('type', 'password');
                }
            });

            flatpickr("#fecha", {
                "locale": { "firstDayOfWeek": 1 },
                "locale": "es",
            });
        });
    </script>

    <!-- Formulario -->
    <script>

        //Comprueba cada elemento cuando se retira el ratón
        window.onload = function () {
            $("#nombre").blur(function (event) {
                comprobarNombre();
            });
            $("#apellidos").blur(function (event) {
                comprobarApellido();
            });
            $("#direccion").blur(function (event) {
                comprobarDireccion();
            });
            $("#usuar").blur(function (event) {
                comprobarUsuaio();
            });
            $("#dni").blur(function (event) {
                comprobarDNI();
            });
            $("#email").blur(function (event) {
                comprobarCorreo();
            });
            $("#pwd2").blur(function (event) {
                comprobarContrasena($(this));
            });
            $("#pwd1").blur(function (event) {
                comprobarContrasena($(this));
            });
            $("#fecha").blur(function (event) {
                comprobarEdad();
            });
            $("#telef").blur(function (event) {
                comprobarTelefono();
            });
            $("#pais").blur(function (event) {
                comprobarPais();
            });
        }

        function comprobarNombre() {
            if ($("#nombre").val().length === 0) {
                $("#nombre").siblings(".error").children().html("El campo es obligatorio");
                $("#nombre").removeClass("is-valid");
                $("#nombre").addClass("is-invalid");
                return false;
            } else {
                if (!(/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/.test($("#nombre").val()))) {
                    $("#nombre").siblings(".error").children().html("El nombre no cumple con el formato");
                    $("#nombre").removeClass("is-valid");
                    $("#nombre").addClass("is-invalid");
                    return false;
                } else {
                    $("#nombre").siblings(".error").children().html("");
                    $("#nombre").addClass("is-valid");
                    $("#nombre").removeClass("is-invalid");
                    return true;
                }
            }
        }

            function comprobarApellido() {
                if ($("#apellidos").val().length === 0) {
                    $("#apellidos").siblings(".error").children().html("El campo es obligatorio");
                    $("#apellidos").removeClass("is-valid");
                    $("#apellidos").addClass("is-invalid");
                    return false;
                } else {
                    if (!(/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/.test($("#apellidos").val()))) {
                        $("#apellidos").siblings(".error").children().html("El apellido no cumple con el formato");
                        $("#apellidos").removeClass("is-valid");
                        $("#apellidos").addClass("is-invalid");
                        return false;
                    } else {
                        $("#apellidos").siblings(".error").children().html("");
                        $("#apellidos").addClass("is-valid");
                        $("#apellidos").removeClass("is-invalid");
                        return true;
                    }
                }
            }

                function comprobarUsuaio() {
                    if ($("#usuar").val().length === 0) {
                        $("#usuar").siblings(".error").children().html("El campo es obligatorio");
                        $("#usuar").removeClass("is-valid");
                        $("#usuar").addClass("is-invalid");
                        return false;
                    } else {
                        $("#usuar").siblings(".error").children().html("");
                        $("#usuar").addClass("is-valid");
                        $("#usuar").removeClass("is-invalid");
                        return true;
                    }
                }

                function comprobarDireccion() {
                    if ($("#direccion").val().length === 0) {
                        $("#direccion").siblings(".error").children().html("El campo es obligatorio");
                        $("#direccion").removeClass("is-valid");
                        $("#direccion").addClass("is-invalid");
                        return false;
                    } else {
                        $("#direccion").siblings(".error").children().html("");
                        $("#direccion").addClass("is-valid");
                        $("#direccion").removeClass("is-invalid");
                        return true;
                    }
                }



                //Comprueba el formato del dni y que la letra esté bien
                function comprobarDNI() {
                    var dni = $("#dni").val();
                    var letras = ['T', 'R', 'W', 'A', 'G', 'M', 'Y', 'F', 'P', 'D',
                        'X', 'B', 'N', 'J', 'Z', 'S', 'Q', 'V', 'H', 'L', 'C', 'K', 'E', 'T'];

                    if ($("#dni").val().length === 0) {
                        $("#dni").siblings(".error").children().html("El campo es obligatorio");
                        $("#dni").removeClass("is-valid");
                        $("#dni").addClass("is-invalid");
                        return false;
                    } else {
                        if (!(/^\d{8}[A-Z]$/.test(dni))) {
                            $("#dni").siblings(".error").children().html("El DNI no cumple con el formato");
                            $("#dni").removeClass("is-valid");
                            $("#dni").addClass("is-invalid");
                            return false;
                        } else {
                            if (dni.charAt(8) != letras[(dni.substring(0, 8)) % 23]) {
                                $("#dni").siblings(".error").children().html("La letra insertada no es correcta");
                                $("#dni").removeClass("is-valid");
                                $("#dni").addClass("is-invalid");
                                return false;
                            } else {
                                $("#dni").siblings(".error").children().html("");
                                $("#dni").addClass("is-valid");
                                $("#dni").removeClass("is-invalid");
                                return true;
                            }
                        }
                    }


                }

                //Comprueba el formato del teléfono
                function comprobarTelefono() {
                    var telef = $("#telef").val();
                    if (telef.length === 0) {
                        $("#telef").siblings(".error").children().html("El campo es obligatorio");
                        $("#telef").removeClass("is-valid");
                        $("#telef").addClass("is-invalid");
                        return false;
                    } else {
                        if (!(/^[9|6]{1}([\d]{2}[-]*){3}[\d]{2}$/.test(telef))) {
                            $("#telef").siblings(".error").children().html("El formato del número no es correcto");
                            $("#telef").removeClass("is-valid");
                            $("#telef").addClass("is-invalid");
                            return false;
                        } else {
                            $("#telef").siblings(".error").children().html("");
                            $("#telef").addClass("is-valid");
                            $("#telef").removeClass("is-invalid");
                            return true;
                        }
                    }

                }
                //Comprueba el formato del correo para recuperar contraseña
                function comprobarCorreo() {
                    var email = $("#email").val();

                    if (email.length === 0) {
                        $("#email").siblings(".error").children().html("El campo es obligatorio");
                        $("#email").removeClass("is-valid");
                        $("#email").addClass("is-invalid");
                        return false;
                    } else {
                        if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))) {
                            $("#email").siblings(".error").children().html("El formato del email no es correcto");
                            $("#email").removeClass("is-valid");
                            $("#email").addClass("is-invalid");
                            return false;
                        } else {
                            $("#email").siblings(".error").children().html("");
                            $("#email").addClass("is-valid");
                            $("#email").removeClass("is-invalid");
                            return true;
                        }
                    }
                }


                //Que las dos contraseñas sean identicas
                function comprobarContrasena(input) {
                    var contr1 = $("#pwd1").val();
                    var contr2 = $("#pwd2").val();

                    if (input.val().length === 0) {
                        input.siblings(".error").children().html("El campo es obligatorio");
                        $("#pwd1").removeClass("is-valid");
                        $("#pwd1").addClass("is-invalid");
                        $("#pwd2").removeClass("is-valid");
                        $("#pwd2").addClass("is-invalid");
                        return false;
                    } else {
                        if (input.val().length > 7) {
                            if (contr2.length > 7 && contr1.length > 7) {
                                if (contr1 == contr2) {
                                    $("#pwd1").siblings(".error").children().html("");
                                    $("#pwd2").siblings(".error").children().html("");
                                    $("#pwd1").addClass("is-valid");
                                    $("#pwd1").removeClass("is-invalid");
                                    $("#pwd2").addClass("is-valid");
                                    $("#pwd2").removeClass("is-invalid");
                                    return true;
                                } else {
                                    $("#pwd1").siblings(".error").children().html("Las contraseñas deben ser iguales");
                                    $("#pwd2").siblings(".error").children().html("Las contraseñas deben ser iguales");
                                    $("#pwd1").removeClass("is-valid");
                                    $("#pwd1").addClass("is-invalid");
                                    $("#pwd2").removeClass("is-valid");
                                    $("#pwd2").addClass("is-invalid");
                                    return false;
                                }
                            }
                        } else {
                            input.siblings(".error").children().html("La contraseña tiene que tener un mínimo de 8 caractéres");
                            $("#pwd1").removeClass("is-valid");
                            $("#pwd1").addClass("is-invalid");
                            $("#pwd2").removeClass("is-valid");
                            $("#pwd2").addClass("is-invalid");
                            return false;
                        }
                    }
                }


                // Que la persona sea mayor de edad
                function comprobarEdad() {
                    var fecha = new Date($("#fecha").val());
                    var hoy = new Date();
                    var edad = Math.floor((hoy.getTime() - fecha.getTime()) / (365.25 * 24 * 60 * 60 * 1000));
                    if ($("#fecha").val() == "") {
                        $("#fecha").siblings(".error").children().html("El campo es obligatorio");
                        $("#fecha").removeClass("is-valid");
                        $("#fecha").addClass("is-invalid");
                        return false;
                    } else if (fecha > hoy) {
                        $("#fecha").siblings(".error").children().html("La fecha seleccionada se encuentra en el futuro");
                        $("#fecha").removeClass("is-valid");
                        $("#fecha").addClass("is-invalid");
                        return false;
                    } else {
                        if (edad >= 18) {
                            $("#fecha").siblings(".error").children().html("");
                            $("#fecha").addClass("is-valid");
                            $("#fecha").removeClass("is-invalid");
                            return true;
                        } else {
                            $("#fecha").siblings(".error").children().html("Es menor de edad");
                            $("#fecha").removeClass("is-valid");
                            $("#fecha").addClass("is-invalid");
                            return false;
                        }
                    }
                }

                function comprobarPais() {
                    if ($("#pais").val() == "-1") {
                        $("#pais").siblings(".error").children().html("El campo es obligatorio");
                        return false;
                    } else {
                        $("#pais").siblings(".error").children().html("");
                        return true;
                    }
                }

                //Comprueba que todo están verificados los campos en el registro
                function validar() {
                    if (comprobarEdad() &&
                        comprobarContrasena() && comprobarCorreo() && comprobarDNI() && comprobarTelefono()
                        && comprobarNombre() && comprobarApellido() && comprobarUsuaio() && comprobarDireccion() && comprobarPais()) {
                        return true;
                    } else {
                        return false;
                    }
                }
    </script>

</body>

</html>