<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos/head::head(titulo='Administrador')}">
  <meta name="description" content="Área de operaciones del administrador">
</head>

<body>

  <div th:replace="~{fragmentos/nav::nav}"></div>
  <main class="conten container-fluid">
    <section class="row mx-auto text-center justify-content-around mt-5 mb-4">
      <a role="button" class="btn botonContenido col-sm-10 col-lg-3" href="/administrador/gestionar_productos">Gestionar
        productos</a>
      <a role="button" class="btn botonContenido col-sm-10 col-lg-3" href="/administrador/precios">Gestionar precios</a>
      <a role="button" class="btn botonContenido col-sm-10 col-lg-3" href="/administrador/clientes_pendientes">Aceptar
        nuevos clientes</a>
    </section>
    <section th:unless="${#lists.isEmpty(listaClientes)}">
      <div>
        <div class="row mx-auto text-center justify-content-center" id="formulario">
          <input type="text" placeholder="Inserte el apellido o nombre del cliente a buscar"
            class="form-control col-sm-10 col-lg-3 mr-lg-5 mt-3" id="nombreApell">
          <div class="col-sm-10 col-lg-3 mt-4">
            <input type="radio" id="alta" name="estado" value="alta">
            <label for="alta" class="mr-4">Alta</label>
            <input type="radio" id="baja" name="estado" value="baja">
            <label for="baja" class="mr-4">Baja</label>
            <input type="radio" id="todo" name="estado" value="todo">
            <label for="todo" class="mr-4">Todos</label>
          </div>
        </div>
      </div>
    </section>
    <section th:unless="${#lists.isEmpty(listaClientes)}">
      <table class="col-sm-12 col-lg-9 table table-striped table-bordered table-hover table-responsive-sm mx-auto mt-5"
        id="tablaClientes"  summary="Tabla con la información general de los clientes">
        <caption class="text-center">Tabla con la información general de los clientes</caption>
        <thead>
          <tr>
            <th>Apellido, nombre<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th>DNI<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th>País<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th>Estado<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <td colspan="5" class="mx-auto text-center">Datos propiedad de ©GreenTech Biofuels</td>
        </tfoot>
        <tbody>
          <tr th:each="cliente : ${listaClientes}">
            <td><a th:text="${cliente.apellido} + ', ' + ${cliente.nombre}" th:href="@{'/administrador/pedidos_cliente/'+${cliente.dni}}">Uijdvfwe, coiuhfe</a></td>
            <td th:text="${cliente.dni}">098765T</td>
            <td th:text="${cliente.pais.nombre}">España</td>
            <div>
              <td th:if="${cliente.alta}">Alta</td>
              <td th:unless="${cliente.alta}">Baja</td>
            </div>
            <td><a th:href="@{'/administrador/borrar/'+${cliente.id}}">Eliminar</a></td>
          </tr>
        </tbody>
      </table>
    </section>
    <div th:if="${#lists.isEmpty(listaClientes)}">
      	<p class="mt-5 mx-auto textHist">Actualmente no hay ningún cliente registrado.</p>
      </div>
  </main>
  <div th:replace="~{fragmentos/footer::footer}"></div>

  <script>

    var apellido = $("#nombre").val();
    $(document).ready(function () {
      $('input:radio[name="estado"]').change(function () {
        if ($(this).val() == 'alta') {
          $("tbody tr").show();
          $("tbody tr").each(function () {
            if ($(this).children("td:nth-child(4)").html() == "Baja") {
              $(this).hide();
            }
          });
        } else if ($(this).val() == 'baja') {
          $("tbody tr").show();
          $("tbody tr").each(function () {
            if ($(this).children("td:nth-child(4)").html() == "Alta") {
              $(this).hide();
            }
          });
        } else if ($(this).val() == 'todo') {
          $("tbody tr").show();
        }
      });
    });

    $(document).ready(function () {
      $("#nombreApell").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#tablaClientes tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });


  </script>

  <script>
    $(function () {
      $("#tablaClientes").tablesorter();
    });
  </script>

  <script>
    $("#tablaClientes thead th").click(function () {
      $("#tablaClientes thead i").hide();
      $(this).find("i").show();

      if ($(this).find("i").hasClass("fa-arrows-alt-v")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrows-alt-v");
      } else if ($(this).find("i").hasClass("fa-arrow-up")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrow-up");
      } else {
        $(this).find("i").addClass("fa-arrow-up");
        $(this).find("i").removeClass("fa-arrow-down");
      }
    });
  </script>

</body>

</html>