<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head(titulo='Clientes pendientes')}">
  <meta name="description"
    content="Área del administrador donde acepta o no a los nuevos clientes pendientes de confirmación">
</head>

<body>

  <div th:replace="~{fragmentos/nav::nav}"></div>

  <br>
  <main>
    <section>
      <h1 class="mt-5">Clientes pendientes</h1>
      <table class="col-sm-12 col-lg-9 table table-striped table-bordered table-hover table-responsive-sm mx-auto mt-5"
        id="tablaClientes">
        <thead>
          <tr>
            <th>Apellido, nombre<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th>DNI<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th>País<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cliente : ${listaClientes}">
            <td th:text="${cliente.apellido} + ', ' + ${cliente.nombre} ">Dsgan, hfpodl</td>
            <td th:text="${cliente.dni}">098765T</td>
            <td th:text="${cliente.pais.nombre}">España</td>
            <td><a th:href="@{'/administrador/clientes_pendientes/aceptar/'+${cliente.dni}}">Aceptar</a></td>
            <td><a th:href="@{'/administrador/clientes_pendientes/borrar/'+${cliente.dni}}">Rechazar</a></td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
  <div th:replace="~{fragmentos/footer::footer}"></div>

  <script>
    $(function () {
      $("#tablaClientes").tablesorter();
    });
  </script>

  <script>
    $("#tablaClientes thead th").click(function () {
      $("#tablaClientes thead i").hide();
      $(this).find("i").show();

      if ($(this).find("i").hasClass("fa-arrows-alt-v")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrows-alt-v");
      } else if ($(this).find("i").hasClass("fa-arrow-up")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrow-up");
      } else {
        $(this).find("i").addClass("fa-arrow-up");
        $(this).find("i").removeClass("fa-arrow-down");
      }
    });
  </script>

</body>

</html>