<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head(titulo='Gestión de materiales')}">
  <meta name="description"
    content="Área del administrador donde se añaden o eliminan materiales que van a poder comprar o vender los clientes">
</head>


<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <img id="imagenNav" src="../img/logo.png" alt="Logo de la empresa">
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#collapsibleNavbar" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation" id="botonNav">
      Menu
      <i class="fas fa-bars"></i>
    </button>


    <div class="collapse navbar-collapse text-right" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item navLink">
          <a class="nav-link" href="/#servicios">Que ofrecemos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#productos">Productos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#historia">Historia</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#produccion">Producción</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#principios">Principios básicos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#equipo">Equipo</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#contacto">Contacto</a>
        </li>
        <li class="nav-item navLink" id="opcionGestion">
          <a class="btn botonNavbar" href="/administrador" role="button">Área del administrador</a>
        </li>
        <li class="nav-item navLink" id="opcionCerrarSesion">
          <a class="btn botonNavbar" href="#" role="button">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <main>
    <section class="row conten mt-5 mb-5 justify-content-around">
      <div class="col-sm-12 col-lg-5 mx-auto">
        <h2>Materias primas</h2>
        <table class="table table-striped table-bordered table-hover table-responsive-sm" id="tablaPedidosCliente">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio (€/Kg)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="materia : ${materiasPrimas}">
              <td th:text="${materia.nombre}">X</td>
              <td th:text="${materia.precio}">0</td>
              <td><a th:href="@{'/administrador/gestionar_productos/borrar/'+${materia.nombre}}">Eliminar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-12 col-lg-5 mx-auto">
        <h2>Productos</h2>
        <table class="table table-striped table-bordered table-hover table-responsive-sm" id="tablaPedidosCliente">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio (€/Kg)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="producto : ${productos}">
              <td th:text="${producto.nombre}">Y</td>
              <td th:text="${producto.precio}">0</td>
              <td><a th:href="@{'/administrador/gestionar_productos/borrar/'+${producto.nombre}}">Eliminar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="mx-auto text-center">
      <h2 class="mb-4 bt-5">Nuevo artículo</h2>
      <form method="POST" id="nuevoArticulo" th:action="@{/administrador/gestionar_productos/submit}"
        th:object="${elemento}">
        <div class="row conten justify-content-around">
          <div class="col-sm-12 col-lg-4">
            <label for="nombre" class="mr-3">Nombre</label>
            <input type="text" class="form-control " placeholder="Inserte el nombre" th:field="*{nombre}" id="nombre">
          </div>
          <div class="col-sm-12 col-lg-4">
            <label for="precio" class="mr-3">Precio (€/Kg)</label>
            <input type="number" class="form-control" step=".001" placeholder="Inserte el precio" min="0"
              th:field="*{precio}" id="precio">
          </div>
          <div class="col-sm-12 col-lg-4">
            <label for="tipo" class="mr-3">Tipo de artículo</label>
            <select id="tipo" class="form-control" th:field="*{tipo}">
              <option th:value="compra">Producto</option>
              <option th:value="venta">Materia prima</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-success col-sm-12 col-lg-4 mt-5 mb-5" value="Enviar" id="confirmar">Guardar
          nuevo artículo</button>
      </form>
    </section>
  </main>
  <div th:replace="~{fragmentos/footer::footer}"></div>

</body>

</html>