<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos/head::head(titulo='Gestión de materiales')}">
  <meta name="description"
    content="Área del administrador donde se añaden o eliminan materiales que van a poder comprar o vender los clientes">
</head>


<body>

  <div th:replace="~{fragmentos/nav::nav}"></div>

  <br>
  <main class="conten container-fluid">
    <section class="row conten mt-5 mb-5 justify-content-around">
      <div class="col-sm-12 col-lg-5 mx-auto">
        <div th:unless="${#lists.isEmpty(materiasPrimas)}">
      		<h2>Materias primas</h2>
        <table class="table table-striped table-bordered table-hover table-responsive-sm" id="tablaMateriaPrima" summary="Tabla con las materias primas">
          <caption class="text-center">Tabla con las materias primas</caption>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio (€/Kg)</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <td colspan="4" class="mx-auto text-center">Datos propiedad de ©GreenTech Biofuels</td>
          </tfoot>
          <tbody>
            <tr th:each="materia : ${materiasPrimas}">
              <td th:text="${materia.nombre}">X</td>
              <td th:text="${materia.precio}">0</td>
              <td><a th:href="@{'/administrador/gestionar_productos/borrar/'+${materia.nombre}}" class="btn btn-light">Eliminar</a></td>
            </tr>
          </tbody>
        </table>
      	</div>
      	<div th:if="${#lists.isEmpty(materiasPrimas)}">
        	<p class="mt-5 mx-auto textHist">Actualmente no hay ninguna materia prima disponible.</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-5 mx-auto">
      <div th:unless="${#lists.isEmpty(productos)}">
      	 <h2>Productos</h2>
        <table class="table table-striped table-bordered table-hover table-responsive-sm" id="tablaProductos" summary="Tabla con los productos">
          <caption class="text-center">Tabla con los productos</caption>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio (€/Kg)</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <td colspan="4" class="mx-auto text-center">Datos propiedad de ©GreenTech Biofuels</td>
          </tfoot>
          <tbody>
            <tr th:each="producto : ${productos}">
              <td th:text="${producto.nombre}">Y</td>
              <td th:text="${producto.precio}">0</td>
              <td><a th:href="@{'/administrador/gestionar_productos/borrar/'+${producto.nombre}}" class="btn btn-light">Eliminar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div th:if="${#lists.isEmpty(productos)}">
       	<p class="mt-5 mx-auto textHist">Actualmente no hay ningún producto disponible.</p>
       </div>
      </div>
    </section>
    <section class="mx-auto text-center">
      <h2 class="mb-4 bt-5">Nuevo artículo</h2>
      <form method="POST" id="nuevoArticulo" th:action="@{/administrador/gestionar_productos/submit}"
        th:object="${elemento}">
        <div class="row conten justify-content-around">
          <div class="col-sm-12 col-lg-4">
            <label for="nombre" class="mr-3">Nombre</label>
            <input type="text" class="form-control " placeholder="Inserte el nombre" th:field="*{nombre}" id="nombre">
          </div>
          <div class="col-sm-12 col-lg-4">
            <label for="precio" class="mr-3">Precio (€/Kg)</label>
            <input type="number" class="form-control" step=".01" placeholder="Inserte el precio" min="0"
              th:field="*{precio}" id="precio">
          </div>
          <div class="col-sm-12 col-lg-4">
            <label for="tipo" class="mr-3">Tipo de artículo</label>
            <select id="tipo" class="form-control" th:field="*{tipo}">
              <option th:value="compra">Producto</option>
              <option th:value="venta">Materia prima</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-success col-sm-12 col-lg-4 mt-5 mb-5" value="Enviar" id="confirmar">Guardar
          nuevo artículo</button>
      </form>
    </section>
  </main>
  <div th:replace="~{fragmentos/footer::footer}"></div>

</body>

</html>