<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head(titulo='Pedidos del cliente')}">
  <meta name="description" content="Área del administrador donde se vén los pedidos de un cliente seleccionado">
</head>

<body>

  <div th:replace="~{fragmentos/nav::nav}"></div>

  <br>
  <main>
    <section>
      <h1 class="mt-5 mb-5 mx-auto">X</h1>
    </section>
    <section class="row conten justify-content-around mt-5">

      <table class="col-sm-12 col-lg-8 table table-striped table-bordered table-hover table-responsive-sm"
        id="tablaPedidosCliente">
        <thead>
          <tr>
            <th>ID pedido<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th data-sorter="false">Fecha de entrega/envio</th>
            <th data-sorter="false">Fecha de salida</th>
            <th>Precio(€)<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pedido : ${listaPedidos}">
            <td><a href="#" data-izimodal-open="#modalPedido" th:text="${pedido.id}" th:data-id="${pedido.id}">X</a>
            </td>
            <td th:text="${pedido.fechaLlegada}">10-07-2023</td>
            <td th:text="${pedido.fechaSalidaTrasnporte}">02-07-2023</td>
            <td th:text="${pedido.precioFinal}">341234</td>
            <td><a th:href="@{'/cliente/borrar/'+${pedido.id}}" role="button"
                class="btn btn-success mx-auto">Cancelar</a></td>
          </tr>
        </tbody>
      </table>
      <aside class="col-sm-12 col-lg-3">
        <form action="" id="formularioPedido">
          <ul class="filtro">
            <li>
              <label for="productoForm">
                <h3>Tipo de producto</h3>
              </label><br>
              <select id="productoForm" class="form-control" name="productoForm">
                <option value="0">Todos</option>
                <option value="1">Biodiesel</option>
              </select>
            </li>
            <li>
              <h3>Rango de precio</h3>
              <div class="row mx-auto">
                <input type="number" id="rangoMin" class="form-control col-sm-10 col-lg-10" name="rangoMin"
                  placeholder="Mínimo"><label for="rangoMin">&nbsp&nbsp&nbsp€</label>
                <input type="number" id="rangoMax" class="form-control col-sm-10 col-lg-10" name="rangoMax"
                  placeholder="Máximo"><label for="rangoMax">&nbsp&nbsp&nbsp€</label>
              </div>
            </li>
            <li>
              <h3>Operaciones pendientes</h3>
              <div class="row mx-auto">
                <input type="checkbox" id="pendiente" name="pendiente" value="1" class="col-sm-1 col-lg-1">
                <label for="pendiente" class="col-sm-10 col-lg-10">Pedidos pendientes</label>
              </div>
            </li>
            <li class="row">
              <button type="submit" class="btn btn-dark col-sm-10 col-lg-5 mx-auto" value="Enviar"
                id="enviar">Buscar</button>
            </li>
          </ul>
        </form>
      </aside>
    </section>
  </main>
  <div th:replace="~{fragmentos/footer::footer}"></div>

  <div id="modalDescrPedido" class="modalC">
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4">ID pedido</span>
      <span class="btn info col-sm-12 col-lg-4">Precio</span>
    </div>
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4">Dirección</span>
    </div>
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4">País</span>
    </div>
    <div class="row">
      <table class="col-sm-12 col-lg-8 mx-auto text-center table table-striped table-bordered table-hover"
        id="tablaPedidosDescr">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad(Kg)</th>
            <th>Precio(€)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Biodiesel</td>
            <td>1000</td>
            <td>123456</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $(function () {
      $(".modalC").iziModal({
        padding: 10,
        radius: 5,
        overlayColor: 'rgba(0,0,0,0)',
        transitionIn: 'flipInX',
        transitionOut: 'fadeOutRight',
        width: 800
      });
    });
  </script>

  <script>
    $(function () {
      $("#tablaPedidosCliente").tablesorter();
    });
  </script>

  <script>

    $("#tablaPedidosCliente thead th").click(function () {
      $("#tablaPedidosCliente thead i").hide();
      $(this).find("i").show();

      if ($(this).find("i").hasClass("fa-arrows-alt-v")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrows-alt-v");
      } else if ($(this).find("i").hasClass("fa-arrow-up")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrow-up");
      } else {
        $(this).find("i").addClass("fa-arrow-up");
        $(this).find("i").removeClass("fa-arrow-down");
      }
    });
  </script>

</body>

</html>