<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos/head::head(titulo='Pedidos del cliente')}">
  <meta name="description" content="Área del administrador donde se vén los pedidos de un cliente seleccionado">
</head>

<body>

  <div th:replace="~{fragmentos/nav::nav}"></div>

  <br>
  <main>
    <section class="row">
      <h1 class="mt-5 mb-5 mx-auto" th:text="${cliente.apellido} + ', ' + ${cliente.nombre}">X</h1>
    </section>
    <section class="row conten justify-content-around mt-5">

      <table class="col-sm-12 col-lg-10 table table-striped table-bordered table-hover table-responsive-sm"
        id="tablaPedidosCliente" summary="Tabla con los pedidos del cliente">
        <caption>Tabla con los pedidos del cliente</caption>
        <thead>
          <tr>
            <th>ID pedido<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th data-sorter="false">Fecha de entrega/envio</th>
            <th data-sorter="false">Fecha de salida</th>
            <th>Precio(€)<i class="fas fa-arrows-alt-v ml-3"></i></th>
          </tr>
        </thead>
        <tfoot>
          <td colspan="5" class="mx-auto text-center">Datos propiedad de ©GreenTech Biofuels</td>
        </tfoot>
        <tbody>
          <tr th:each="pedido : ${listaPedidos}">
            <td><a href="#" data-izimodal-open="#modalPedido" th:text="${pedido.id}" >X</a>
            </td>
            <td th:text="${pedido.fechaLlegada}">10-07-2023</td>
            <td th:text="${pedido.fechaSalidaTrasnporte}">02-07-2023</td>
            <td th:text="${#numbers.formatDecimal(pedido.precioFinal, 0, 'POINT', 2, 'COMMA')}">341234</td>
          </tr>
        </tbody>
      </table>
    <aside class="col-sm-12 col-lg-3">
          <ul class="filtro">
            <li>
              <h3>Rango de precio</h3>
              <div class="row mx-auto">
                <input type="number" id="rangoMin" class="form-control col-sm-10 col-lg-10" name="rangoMin"
                  placeholder="Mínimo"><label for="rangoMin">&nbsp&nbsp&nbsp€</label>
                <input type="number" id="rangoMax" class="form-control col-sm-10 col-lg-10" name="rangoMax"
                  placeholder="Máximo"><label for="rangoMax">&nbsp&nbsp&nbsp€</label>
              </div>
            </li>
            <li>
              <h3>Operaciones pendientes</h3>
              <div class="row mx-auto">
                <input type="checkbox" id="pendiente" name="pendiente" value="1" class="col-sm-1 col-lg-1">
                <label for="pendiente" class="col-sm-10 col-lg-10">Pedidos pendientes</label>
              </div>
            </li>
          </ul>
      </aside>
    </section>
  </main>
  <div th:replace="~{fragmentos/footer::footer}"></div>
<!--  
  <div id="modalDescrPedido" class="modalC">
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4">ID pedido</span>
      <span class="btn info col-sm-12 col-lg-4">Precio</span>
    </div>
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4">Dirección</span>
    </div>
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4">País</span>
    </div>
    <div class="row">
      <table class="col-sm-12 col-lg-8 mx-auto text-center table table-striped table-bordered table-hover"
        id="tablaPedidosDescr" summary="Tabla con los detalles del pedido">
        <caption>Tabla con los detalles del pedido</caption>
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad(Kg)</th>
            <th>Precio(€)</th>
          </tr>
        </thead>
        <tfoot>
          <td colspan="3" class="mx-auto text-center">Datos propiedad de ©GreenTech Biofuels</td>
        </tfoot>
        <tbody>
          <tr>
            <td>Biodiesel</td>
            <td>1000</td>
            <td>123456</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>   -->

<script>
    $(document).ready(function () {
      $('#tablaPedidosCliente tbody tr').each(function () {
        var a = $(this).children("td:eq(2)").text();
        var fecha = new Date(parseInt(a.substring(0, 4)), (parseInt(a.substring(5, 7)) - 1), parseInt(a.substring(8, 10)));
        var fecha2 = new Date();
        if (fecha < fecha2) {
          var enlac = $(this).children("td:eq(4)").children().hide();
        }
      });
    });
    
    $("#rangoMax").blur(function (event) {
    	comprobarRango();
      });
    $("#rangoMin").blur(function (event) {
    	comprobarRango();
      });
    
    function comprobarRango() {
		var max = parseInt($("#rangoMax").val());
		var min = parseInt($("#rangoMin").val());
		 $('#tablaPedidosCliente tbody tr').each(function () {
			var b = $(this).children("td:eq(3)").text();   
			var coste = parseInt(b);
			if (min < coste && max > coste) {
		    	$(this).show();
			}else{
				$(this).hide();
			}
		});
    }
    
    $('#pendiente').click(function () {
	   if ($('#pendiente').prop("checked")){
		   $('#tablaPedidosCliente tbody tr').each(function () {
		        var a = $(this).children("td:eq(2)").text();
		        var fecha = new Date(parseInt(a.substring(0, 4)), (parseInt(a.substring(5, 7)) - 1), parseInt(a.substring(8, 10)));
		        var fecha2 = new Date();
		        if (fecha < fecha2) {
		          $(this).hide();
		        }
		      });
	   }else{
		   $('#tablaPedidosCliente tbody tr').each(function () {
		          $(this).show();
		      });
	   }
    });

  </script>

  <script>
    $(function () {
      $(".modalC").iziModal({
        padding: 10,
        radius: 5,
        overlayColor: 'rgba(0,0,0,0)',
        transitionIn: 'flipInX',
        transitionOut: 'fadeOutRight',
        width: 800
      });
    });
  </script>

  <script>
    $(function () {
      $("#tablaPedidosCliente").tablesorter();
    });
  </script>

  <script>

    $("#tablaPedidosCliente thead th").click(function () {
      $("#tablaPedidosCliente thead i").hide();
      $(this).find("i").show();

      if ($(this).find("i").hasClass("fa-arrows-alt-v")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrows-alt-v");
      } else if ($(this).find("i").hasClass("fa-arrow-up")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrow-up");
      } else {
        $(this).find("i").addClass("fa-arrow-up");
        $(this).find("i").removeClass("fa-arrow-down");
      }
    });
  </script>

</body>

</html>