<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos/head::head(titulo='Gestión de precios')}">
  <meta name="description" content="Área del administrador donde se gestionana los precios">
</head>

<body>

  <div th:replace="~{fragmentos/nav::nav}"></div>

  <br>
  <main>
    <section>
      <div class="row conten justify-content-around mx-auto">
        <div class="col-sm-12 col-lg-5 mt-5">
        <div th:unless="${#lists.isEmpty(listaMateriasPrimas)}" >
        	 <h2>Materias primas</h2>
          <table class="table table-bordered table-hover table-responsive-sm mx-auto" id="tablaMateriasPrimas"
            summary="Tabla con el precio de las materias primas por Kg">
            <caption>Tabla el precio del transporte por día</caption>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Precio (€/Kg)</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <td colspan="3" class="mx-auto text-center">Datos propiedad de ©GreenTech Biofuels</td>
            </tfoot>
            <tbody>
              <tr th:each="producto : ${listaMateriasPrimas}">
                <td th:text="${producto.nombre}">X</td>
                <td>
                  <input th:id="'precio' + ${producto.id}" type="number" class="form-control" step=".001"
                    placeholder="Inserte el precio" th:value="${producto.precio}">
                </td>
                <td> <button type="button" th:onclick="'actualizarProducto('+${producto.id}+')'"
                    class="btn btn-light">Actualizar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${#lists.isEmpty(listaMateriasPrimas)}">
        	<p class="mt-5 mx-auto textHist">Actualmente no hay ninguna materia prima disponible.</p>
        </div>
        </div>
        <div class="col-sm-12 col-lg-5 mt-5">
        	<div th:unless="${#lists.isEmpty(listaProductos)}">
        		<h2>Productos</h2>
          <table class="table table-bordered table-hover table-responsive-sm mx-auto" id="tablaProductos"
            summary="Tabla con el precio de los productos pot Kg">
            <caption>Tabla el precio del transporte por día</caption>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Precio (€/Kg)</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <td colspan="3" class="mx-auto text-center">Datos propiedad de ©GreenTech Biofuels</td>
            </tfoot>
            <tbody>
              <tr th:each="producto : ${listaProductos}">
                <td th:text="${producto.nombre}">X</td>
                <td>
                  <input th:id="'precio' + ${producto.id}" type="number" class="form-control" step=".001"
                    placeholder="Inserte el precio" th:value="${producto.precio}">
                </td>
                <td> <button type="button" th:onclick="'actualizarProducto('+${producto.id}+')'"
                    class="btn btn-light">Actualizar</button>
                </td>
              </tr>
            </tbody>
          </table>
        	</div>
        	<div th:if="${#lists.isEmpty(listaProductos)}">
	        	<p class="mt-5 mx-auto textHist">Actualmente no hay ningún producto disponible.</p>
	        </div>
        </div>
      </div>
      <div class="row">
        <div class="conten mx-auto col-sm-12 col-lg-5 mt-5">
          <h2 class="mx-auto">Transporte</h2>
          <table class="table table-bordered table-hover table-responsive-sm mx-auto" id="tablaPrecios"
            summary="Tabla el precio del transporte por día">
            <caption>Tabla el precio del transporte por día</caption>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Precio (€/dia)</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <td colspan="3" class="mx-auto text-center">Datos propiedad de ©GreenTech Biofuels</td>
            </tfoot>
            <tbody>
              <tr>
                <td>Tren</td>
                <td><input type="number" class="form-control" id="precioT1" min="0" step=".001" th:id="admin1"
                    placeholder="Inserte el precio" value="0" th:value="${administrador.precioTren}"></td>
                <td><button type="button" th:onclick="'actualizarAdmin('+1+')'"
                    class="btn btn-light">Actualizar</button>
                </td>
              </tr>
              <tr>
                <td>Barco</td>
                <td><input type="number" class="form-control" id="precioT1" min="0" step=".001" th:id="admin2"
                    placeholder="Inserte el precio" value="0" th:value="${administrador.precioBarco}"></td>
                <td><button type="button" th:onclick="'actualizarAdmin('+2+')'"
                    class="btn btn-light">Actualizar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <div th:replace="~{fragmentos/footer::footer}"></div>

  <script>

    function actualizarProducto(id) {
      window.location.href = "/administrador/precios/" + id + "?precio=" + $('#precio' + id).val();
    }

    function actualizarAdmin(id) {
      window.location.href = "/administrador/precios/admin/" + id + "?precio=" + $('#admin' + id).val();
    }

  </script>

</body>

</html>