html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Cambay', 'Times New Roman', serif;
    background-color: #e6e6e6;
}

.container-fluid{
    padding: 0;
}

.botonEnv{
    display: block;
    margin: auto;
    background-color: rgb(73, 73, 73);
    border: rgb(73, 73, 73);
    width: 150px;
}

.botonEnv:hover, .botonEnv:focus, .botonEnv:active{
    background-color: rgb(73, 73, 73);
    border: rgb(73, 73, 73);
    box-shadow: none;
}

.botonNavbar, .botonNavbar:hover, .botonNavbar:focus, .botonNavbar:active{
    background-color: rgb(254, 200, 16);
    border: rgb(254, 200, 16);
    box-shadow: none;
}

.oculto{
    display: none;
}

.botonNavbar, .botonNavbar:not([href]){
    color: #444;
}

.botonNavbar:hover, .botonNavbar:not([href]):hover{
    color: rgb(19, 92, 31);
}

.error{
    color: red;
}

.aparecer{
    display: inline;
}

.eliminar{
    display: none;
}

.blk{
    display: block;
}

.form-group input{
    border-radius: 2rem;
}

.form-group select{
    border-radius: 2rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:green;
    border-color: green;
}

#imagenNav{
    width: 100px;
    margin-left: 15px;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.navLink{
    font-size: 18px;
    margin-right: 20px;
}

#botonNav{
    margin-right: 10px;
    color: white;
}

#portada{
    background-image: url(../img/fondobanner.jpg);
}

.flexCart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta{
    margin: 25px;
    border: solid gray 2px;
    background-color: #ffffff;
    border-radius: 10px;
}

.cartaText{
    width: 90%;
    margin: auto;
    font-size: 14pt;
}

section{
    text-align: center;
}

.imgCart{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 14pt;
}

.textProd{
    display: block;
    width: 80%;
    margin: auto;
    font-size: 14pt;
}

#imagenProduct img{
    width: 100%;
}

.contenedHist{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 90%;
}

.marcoReacc{
    width: 80%;
    margin: auto;
    font-size: 14pt;
}

.contenedorNombre{
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 25px;
}

.map-container{
    height: 400px;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerPrin{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: rgb(197, 197, 197);
    z-index: 10;
}

#espacio{
    width: 100%;
    height: 120px;
}

#datosContacto p{
    font-size: 18pt;
}

.redS{
    font-size:20px;
    line-height:60px;
    display:block;
    width:50px;
    height:50px;
    transition:all .3s;
    border-radius:100%;
    background-color:#212529;
    color: #888;
}

.redesPerso a:hover{
    color: #4acfa3;
}

.redS:hover{
    color: rgb(254, 200, 16);
}

.parallax{
    width: 100%;
    height: 280px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 35pt;
    color: rgb(254, 200, 16);
}

.parallax2{
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 35pt;
    color: rgb(255, 196, 0);
    height: 620px;
    margin-top: 46px;
}

#parallax1{
    background-image:  url(../img/servicio.jpg);
}

#parallax2{
    background-image:  url(../img/fuel.jpg);
}

#parallax3{
    background-image:  url(../img/libr.jpg);
}

#parallax4{
    background-image:  url(../img/opera.jpg);
}

#parallax5{
    background-image:  url(../img/lab.jpg);
}

#parallax6{
    background-image:  url(../img/team.jpg);
}

#parallax7{
    background-image:  url(../img/map.jpg);
}

.textHist{
    font-size: 18pt;
}

.botonContenido, .botonContenido:hover, .botonContenido:focus{
    background-color: rgb(14, 53, 14);
    border: rgb(14, 53, 14);
    box-shadow: none;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 20pt;
}

.info{
    background-color: rgb(156, 156, 156);
    border: rgb(156, 156, 156);
    margin-top: 1%;
    margin-bottom: 7%;
    font-size: 16pt;
}

.conten{
    width: 90%;
    margin: auto;
}

#contenInici{
    width: 60%;
    margin: auto;
    margin-top: 10%;
}

.filtro{
    text-align: justify;
    list-style: none;
}

.filtro li{
    margin-top: 20px;
}

.filtro li:nth-child(3) input{
    display: inline-block;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

#formularioCompraProductos input[type="number"]{
    display: inline-block;
    width: 90%;
}

.formText{
    font-weight: bold;
    font-size: 18pt;
}

.ajustesCliente{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18pt;
    margin: auto;
}

.ajustesCliente input, .ajustesCliente select, .ajustesCliente button{
    font-size: 18pt;
    text-align: center;
}

.tabla{
    border-collapse: collapse;   
    font-size: 16pt;
    width: 50%;
    margin: auto;
}

.mitad{
    width: 60%; 
}

.tabla th, .tabla td{
    padding: 10px;
}

.clienteCompr{
    font-size: 18pt;
}

#nuevoArticulo label, #nuevoArticulo input, #nuevoArticulo select{
    display: inline;
}

#nuevoArticulo input, #nuevoArticulo select{
    width: 50%;
}

#chartDiv{
    margin: auto;
    width: 70%;
    height: 350px;
    background-color: #212529;
    
}

/* Media Queries*/

@media (max-width: 992px) {
    #imagenProduct{
        visibility: hidden;
        width: 10px;
    }
    #imgReacc{
        width: 100%;
    }
    .carta{
        border: solid gray 2px;
    }
    .blancHist{
        order: 2;
    }
    .textHist{
        order: 3;
        margin-top: 20px;
    }
    #datosContacto{
        margin: auto;
    }
    #marcas{
        padding-top: 10px;
    }
    .botonNavbar{
        margin-bottom: 15px;
    }
    .botonContenido{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #fechaEntrega{
        width: 70%;
    }
    #fechaSalida{
        width: 70%;
    }
    #espacio{
        height: 190px;
    }

    #ojo1{
        margin: auto;
    }

    #ojo2{
        margin: auto;
    }
    .tabla{
        width: 90%;
    }
    #contenInici{
        margin-top: 2px;
    }
}

@media (min-height: 1070px){
    .parallax2{
        height: 920px;
    }
}
