<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head(titulo='Ajustes')}">
    <meta name="description" content="Sección de ajustes del cliente">
  </head>


<body>

    <div th:replace="~{fragmentos/nav::nav}"></div>

    <br>
    <main>
        <section class="mt-5 mb-5">
            <form action="" method="POST" onsubmit="return validar();" th:action="@{/cliente/ajustes/submit}"
                th:object="${clienteFrom}">
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="nombre" class="col-sm-12 col-xl-3">Nombre</label>
                        <input type="text" class="form-control col-sm-12 col-xl-7" placeholder="Inserte el nombre"
                            th:field="*{nombre}" id="nombre" size="50">
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="apellidos" class="col-sm-12 col-xl-3">Apellidos</label>
                        <input type="text" class="form-control col-sm-12 col-xl-7"
                            placeholder="Inserte el/los apellidos" th:field="*{apellido}" id="apellido" size="50">
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center">
                        <input type="hidden" class="form-control col-sm-12 col-xl-7" th:field="*{dni}" id="dni"
                            maxlength="9" minlength="9" size="9">
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="fecha" class="col-sm-12 col-xl-3">Fecha de nacmiento</label>
                        <input type="date" class="form-control col-sm-12 col-xl-7" th:field="*{fechaNacimiento}"
                            id="fecha">
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="telef" class="col-sm-12 col-xl-3">Teléfono</label>
                        <input type="tel" class="form-control col-sm-12 col-xl-7" th:field="*{telefono}" id="telef"
                            placeholder="Inserte el número">
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="email" class="col-sm-12 col-xl-3">Cuenta de correo</label>
                        <input type="email" class="form-control col-sm-12 col-xl-7" placeholder="Inserte el email"
                            th:field="*{correo}" id="email">
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="pais" class="col-sm-12 col-xl-3">País</label>
                        <select id="pais" class="form-control col-sm-12 col-xl-7" th:field="*{pais}">
                            <option th:each="pais : ${listaPais}" th:value="${pais.idPais}" th:text="${pais.nombre}">
                                España</option>
                        </select>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="direccion" class="col-sm-12 col-xl-3">Dirección:</label>
                        <input type="text" class="form-control col-sm-12 col-xl-7" placeholder="Inserte la dirección"
                            th:field="*{direccion}" id="direccion">
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center">
                        <input type="hidden" class="form-control col-sm-12 col-xl-7" th:field="*{usuario}" id="usuar">
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="pwd1" class="col-sm-12 col-xl-3 ml-xl-4">Contraseña</label>
                        <input type="password" class="form-control col-sm-12 col-xl-7 ml-xl-4"
                            placeholder="Inserte la contraseña (mínimo 8 caracteres)" id="pwd1"
                            th:field="*{contrasenya}">
                        <i id="ojo1" class="fas fa-eye-slash fa-lg mt-2 ml-xl-2"></i>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="form-group ajustesCliente">
                    <div class="row justify-content-center mb-1">
                        <label for="pwd2" class="col-sm-12 col-xl-3 ml-xl-4">Confirme contraseña</label>
                        <input type="password" class="form-control col-sm-12 col-xl-7 ml-xl-4"
                            placeholder="Inserte la misma contraseña" id="pwd2">
                        <i id="ojo2" class="fas fa-eye-slash fa-lg mt-2 ml-xl-2"></i>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="error col-sm-12 col-xl-8"></div>
                    </div>
                </div>
                <div class="row ajustesCliente mt-5">
                    <button type="submit" class="btn btn-success mx-auto" value="Enviar" id="enviar">Gardar los
                        cambios</button>
                </div>
            </form>
            <div class="row ajustesCliente mt-5">
                <a th:href="@{'/cliente/ajustes/altaBaja/'+${cliente.dni}}" type="button" th:unless="${cliente.alta}"
                	class="btn btn-success mx-auto">Darse de alta</a>
               	<a th:href="@{'/cliente/ajustes/altaBaja/'+${cliente.dni}}" type="button" th:if="${cliente.alta}"
               		class="btn btn-success mx-auto">Darse de baja</a>
            </div>
        </section>
    </main>

    <div th:replace="~{fragmentos/footer::footer}"></div>

    <script>
        var numero1 = 0;
        var numero2 = 0;
        //Comprueba cada elemento cuando se retira el ratón
        window.onload = function () {
            $("#nombre").blur(function (event) {
                comprobarNombre();
            });
            $("#apellidos").blur(function (event) {
                comprobarApellido();
            });
            $("#direccion").blur(function (event) {
                comprobarDireccion();
            });
            $("#email").blur(function (event) {
                comprobarCorreo();
            });
            $("#pwd2").blur(function (event) {
                comprobarContrasena($(this));
            });
            $("#pwd1").blur(function (event) {
                comprobarContrasena($(this));
            });
            $("#fecha").blur(function (event) {
                comprobarEdad();
            });
            $("#telef").blur(function (event) {
                comprobarTelefono();
            });
            $("#pais").blur(function (event) {
                comprobarPais();
            });
        }

        function comprobarNombre() {
            if ($("#nombre").val().length === 0) {
                $("#nombre").parent().siblings().children().html("El campo es obligatorio");
                $("#nombre").removeClass("is-valid");
                $("#nombre").addClass("is-invalid");
                return false;
            } else {
                $("#nombre").parent().siblings().children().html("");
                $("#nombre").addClass("is-valid");
                $("#nombre").removeClass("is-invalid");
                return true;
            }
        }

        function comprobarApellido() {
            if ($("#apellidos").val().length === 0) {
                $("#apellidos").parent().siblings().children().html("El campo es obligatorio");
                $("#apellidos").removeClass("is-valid");
                $("#apellidos").addClass("is-invalid");
                return false;
            } else {
                $("#apellidos").parent().siblings().children().html("");
                $("#apellidos").addClass("is-valid");
                $("#apellidos").removeClass("is-invalid");
                return true;
            }
        }

        function comprobarDireccion() {
            if ($("#direccion").val().length === 0) {
                $("#direccion").parent().siblings().children().html("El campo es obligatorio");
                $("#direccion").removeClass("is-valid");
                $("#direccion").addClass("is-invalid");
                return false;
            } else {
                $("#direccion").parent().siblings().children().html("");
                $("#direccion").addClass("is-valid");
                $("#direccion").removeClass("is-invalid");
                return true;
            }
        }

        //Comprueba el formato del teléfono
        function comprobarTelefono() {
            var telef = $("#telef").val();
            if (telef.length === 0) {
                $("#telef").parent().siblings().children().html("El campo es obligatorio");
                $("#telef").removeClass("is-valid");
                $("#telef").addClass("is-invalid");
                return false;
            } else {
                if (!(/^[9|6]{1}([\d]{2}[-]*){3}[\d]{2}$/.test(telef))) {
                    $("#telef").parent().siblings().children().html("El formato del número no es correcto");
                    $("#telef").removeClass("is-valid");
                    $("#telef").addClass("is-invalid");
                    return false;
                } else {
                    $("#telef").parent().siblings().children().html("");
                    $("#telef").addClass("is-valid");
                    $("#telef").removeClass("is-invalid");
                    return true;
                }
            }

        }
        //Comprueba el formato del correo para recuperar contraseña
        function comprobarCorreo() {
            var email = $("#email").val();

            if (email.length === 0) {
                $("#email").parent().siblings().children().html("El campo es obligatorio");
                $("#email").removeClass("is-valid");
                $("#email").addClass("is-invalid");
                return false;
            } else {
                if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{3})+$/.test(email))) {
                    $("#email").parent().siblings().children().html("El formato del email no es correcto");
                    $("#email").removeClass("is-valid");
                    $("#email").addClass("is-invalid");
                    return false;
                } else {
                    $("#email").parent().siblings().children().html("");
                    $("#email").addClass("is-valid");
                    $("#email").removeClass("is-invalid");
                    return true;
                }
            }
        }

        //Que las dos contraseñas sean identicas
        function comprobarContrasena(input) {
            var contr1 = $("#pwd1").val();
            var contr2 = $("#pwd2").val();

            if (input.val().length === 0) {
                input.parent().siblings().children().html("El campo es obligatorio");
                $("#pwd1").removeClass("is-valid");
                $("#pwd1").addClass("is-invalid");
                $("#pwd2").removeClass("is-valid");
                $("#pwd2").addClass("is-invalid");
                return false;
            } else {
                if (input.val().length > 7) {
                    if (contr2.length > 7 && contr1.length > 7) {
                        if (contr1 == contr2) {
                            $("#pwd1").parent().siblings().children().html("");
                            $("#pwd2").parent().siblings().children().html("");
                            $("#pwd1").addClass("is-valid");
                            $("#pwd1").removeClass("is-invalid");
                            $("#pwd2").addClass("is-valid");
                            $("#pwd2").removeClass("is-invalid");
                            return true;
                        } else {
                            $("#pwd1").parent().siblings().children().html("Las contraseñas deben ser iguales");
                            $("#pwd2").parent().siblings().children().html("Las contraseñas deben ser iguales");
                            $("#pwd1").removeClass("is-valid");
                            $("#pwd1").addClass("is-invalid");
                            $("#pwd2").removeClass("is-valid");
                            $("#pwd2").addClass("is-invalid");
                            return false;
                        }
                    }
                } else {
                    input.parent().siblings().children().html("La contraseña tiene que tener un mínimo de 8 caractéres");
                    $("#pwd1").removeClass("is-valid");
                    $("#pwd1").addClass("is-invalid");
                    $("#pwd2").removeClass("is-valid");
                    $("#pwd2").addClass("is-invalid");
                    return false;
                }
            }
        }


        // Que la persona sea mayor de edad
        function comprobarEdad() {
            var fecha = new Date($("#fecha").val());
            var hoy = new Date();
            var edad = Math.floor((hoy.getTime() - fecha.getTime()) / (365.25 * 24 * 60 * 60 * 1000));
            if ($("#fecha").val() == "") {
                $("#fecha").parent().siblings().children().html("El campo es obligatorio");
                $("#fecha").removeClass("is-valid");
                $("#fecha").addClass("is-invalid");
                return false;
            } else if (fecha > hoy) {
                $("#fecha").parent().siblings().children().html("La fecha seleccionada se encuentra en el futuro");
                $("#fecha").removeClass("is-valid");
                $("#fecha").addClass("is-invalid");
                return false;
            } else {
                if (edad >= 18) {
                    $("#fecha").parent().siblings().children().html("");
                    $("#fecha").addClass("is-valid");
                    $("#fecha").removeClass("is-invalid");
                    return true;
                } else {
                    $("#fecha").parent().siblings().children().html("Es menor de edad");
                    $("#fecha").removeClass("is-valid");
                    $("#fecha").addClass("is-invalid");
                    return false;
                }
            }
        }

        function comprobarPais() {
            if ($("#pais").val() == "0") {
                $("#pais").parent().siblings().children().html("El campo es obligatorio");
            } else {
                $("#pais").parent().siblings().children().html("");
            }
        }

        //Comprueba que todo están verificados los campos en el registro
        function validar() {
            if (comprobarEdad() && comprobarContrasena() && comprobarCorreo() && comprobarTelefono()
                && comprobarNombre() && comprobarApellido() && comprobarUsuaio() && comprobarDireccion() && comprobarPais()) {
                alert("OK");
                return true;
            } else {
                return false;
            }
        }

        $("#ojo1").click(function (event) {
            numero1 += 1;

            if (numero1 % 2 != 0) {
                $("#pwd1").prop('type', 'text');
                $("#ojo1").removeClass("fa-eye-slash");
                $("#ojo1").addClass("fa-eye");
            }
            if (numero1 % 2 == 0) {
                $("#pwd1").prop('type', 'password');
                $("#ojo1").addClass("fa-eye-slash");
                $("#ojo1").removeClass("fa-eye");
            }
        });

        $("#ojo2").click(function (event) {
            numero2 += 1;

            if (numero2 % 2 != 0) {
                $("#pwd2").prop('type', 'text');
                $("#ojo2").removeClass("fa-eye-slash");
                $("#ojo2").addClass("fa-eye");
            }
            if (numero2 % 2 == 0) {
                $("#pwd2").prop('type', 'password');
                $("#ojo2").addClass("fa-eye-slash");
                $("#ojo2").removeClass("fa-eye");
            }
        });

    </script>

    <script>
        flatpickr("#fecha", {
            "locale": { "firstDayOfWeek": 1 },
            "locale": "es",
        });
    </script>

</body>

</html>