<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head(titulo='Cliente')}">
  <meta name="description" content="Área de gestión del cliente.">
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <img id="imagenNav" src="../img/logo.png" alt="Logo de la empresa">
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#collapsibleNavbar" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation" id="botonNav">
      Menu
      <i class="fas fa-bars"></i>
    </button>


    <div class="collapse navbar-collapse text-right" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item navLink">
          <a class="nav-link" href="/#servicios">Que ofrecemos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="./#productos">Productos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#historia">Historia</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#produccion">Producción</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#principios">Principios básicos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#equipo">Equipo</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#contacto">Contacto</a>
        </li>
        <li class="nav-item navLink" id="opcionCerrarSesion">
          <a class="btn botonNavbar" href="#" role="button">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <main class="conten container-fluid">
    <section class="row mx-auto text-center align-items-center justify-content-around mt-5">
      <a role="button" class="btn botonContenido col-sm-12 col-lg-3" href="/cliente/productos">Comprar productos</a>
      <a role="button" class="btn botonContenido col-sm-12 col-lg-3" href="/cliente/materias_primas">Vender materias primas</a>
      <a role="button" class="btn botonContenido col-sm-12 col-lg-3" th:href="@{'/cliente/ajustes/'+${cliente.dni}}">Ajustes</a>
    </section>
    <section class="row justify-content-around mt-5">
      <table class="col-sm-12 col-lg-8 table table-striped table-bordered table-hover table-responsive-sm"
        id="tablaPedidosCliente">
        <thead>
          <tr>
            <th>ID pedido<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th data-sorter="false">Fecha de entrega/envio</th>
            <th data-sorter="false">Fecha de salida</th>
            <th>Precio(€)<i class="fas fa-arrows-alt-v ml-3"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pedido : ${listaPedidos}">
            <td><a href="#" data-izimodal-open="#modalPedido" th:text="${pedido.id}" th:data-id="${pedido.id}">X</a>
            </td>
            <td th:text="${pedido.fechaLlegada}">10-07-2023</td>
            <td th:text="${pedido.fechaSalidaTrasnporte}">02-07-2023</td>
            <td th:text="${pedido.precioFinal}">341234</td>
            <td><a th:href="@{'/cliente/borrar/'+${pedido.id}}" role="button"
                class="btn btn-success mx-auto">Cancelar</a></td>
          </tr>
        </tbody>
      </table>
      <aside class="col-sm-12 col-lg-3 mr-2">
        <form action="" id="formularioPedido">
          <ul class="filtro">
            <li>
              <h3>Tipo de operación</h3>
              <input type="radio" id="compra" name="tipo" value="0">
              <label for="compra">Operaciones de compra</label><br>
              <input type="radio" id="venta" name="tipo" value="1">
              <label for="venta">Operaciones de venta</label><br>
              <input type="radio" id="todas" name="tipo" value="-1" checked>
              <label for="todas">Todas las operaciones</label>
            </li>
            <li>
              <label for="productoForm">
                <h3>Tipo de producto</h3>
              </label><br>
              <select id="productoForm" class="form-control" name="productoForm">
                <option value="0">Todos</option>
                <option value="1">Biodiesel</option>
                <option value="2">Glicerina</option>
                <option value="3">Aceite de cogeneración</option>
                <option value="4">Aceite de fritura</option>
                <option value="5">Aceite de motor</option>
                <option value="6">Restos vegetales</option>
              </select>
            </li>
            <li>
              <h3>Rango de precio</h3>
              <input type="number" id="rangoMin" class="form-control" name="rangoMin" placeholder="Mínimo"><label
                for="rangoMin">&nbsp&nbsp&nbsp€</label>
              <input type="number" id="rangoMax" class="form-control" name="rangoMax" placeholder="Máximo"><label
                for="rangoMax">&nbsp&nbsp&nbsp€</label>
            </li>
            <li>
              <h3>Operaciones pendientes</h3>
              <input type="checkbox" id="pendiente" name="pendiente" value="1">
              <label for="pendiente">Pedidos pendientes</label>
            </li>
            <li class="row">
              <button type="submit" class="btn btn-dark col-sm-10 col-lg-5 mx-auto" value="Enviar"
                id="enviar">Buscar</button>
            </li>
          </ul>
        </form>
      </aside>
    </section>
  </main>
  <div th:replace="~{fragmentos/footer::footer}"></div>

<!--
  <div id="modalPedido" class="modalC">
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4" th:text="${pedido.precioFinal}">Precio</span>
    </div>
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4" th:text="${cliente.direccion}">Dirección</span>
    </div>
    <div class="row mx-auto text-center align-items-center justify-content-around">
      <span class="btn info col-sm-12 col-lg-4" th:text="${cliente.pais.nombre}">País</span>
    </div>
    <div class="row">
      <table class="col-sm-12 col-lg-8 mx-auto text-center table table-striped table-bordered table-hover"
        id="tablaPedidosDescr">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad(Kg)</th>
            <th>Precio(€)</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="linea : ${pedido.listaPedidos}">
            <td th:text="${linea.compuesto.nombre}">Biodiesel</td>
            <td th:text="${linea.cantidad}">1000</td>
            <td th:text="${linea.precio}">123456</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 -->

  <script>

    $('#tablaPedidosCliente tbody tr').each(function () {
      var a = $(this).children("td:eq(2)").text();
      var fecha = new Date(parseInt(a.substring(6, 10)), ((a.substring(3, 5)) - 1), (a.substring(0, 2)));
      var fecha2 = new Date();
      if (fecha < fecha2) {
        var enlac = $(this).children("td:eq(4)").children();
        enlac.css("color", "red");
        enlac.prop("disabled", true);
      }
    });

  </script>

  <script>
    $(function () {
      $(".modalC").iziModal({
        padding: 10,
        radius: 5,
        overlayColor: 'rgba(0,0,0,0)',
        transitionIn: 'flipInX',
        transitionOut: 'fadeOutRight',
        width: 800
      });
    });
  </script>

  <script>
    $(function () {
      $("#tablaPedidosCliente").tablesorter();
    });
  </script>

  <script>
    $("#tablaPedidosCliente thead th").click(function () {
      $("#tablaPedidosCliente thead i").hide();
      $(this).find("i").show();

      if ($(this).find("i").hasClass("fa-arrows-alt-v")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrows-alt-v");
      } else if ($(this).find("i").hasClass("fa-arrow-up")) {
        $(this).find("i").addClass("fa-arrow-down");
        $(this).find("i").removeClass("fa-arrow-up");
      } else {
        $(this).find("i").addClass("fa-arrow-up");
        $(this).find("i").removeClass("fa-arrow-down");
      }


    });
  </script>

</body>

</html>