<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head(titulo='Compra de materias primas')}">
  <meta name="description" content="Área de compra de materias primas por parte del cliente">
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <img id="imagenNav" src="../img/logo.png" alt="Logo de la empresa">
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#collapsibleNavbar" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation" id="botonNav">
      Menu
      <i class="fas fa-bars"></i>
    </button>


    <div class="collapse navbar-collapse text-right" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item navLink">
          <a class="nav-link" href="/#servicios">Que ofrecemos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#productos">Productos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#historia">Historia</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#produccion">Producción</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#principios">Principios básicos</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#equipo">Equipo</a>
        </li>
        <li class="nav-item navLink">
          <a class="nav-link" href="/#contacto">Contacto</a>
        </li>
        <li class="nav-item navLink" id="opcionGestion">
          <a class="btn botonNavbar" href="/cliente" role="button">Área del cliente</a>
        </li>
        <li class="nav-item navLink" id="opcionCerrarSesion">
          <a class="btn botonNavbar" href="#" role="button">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <main>
    <section>
      <h1 class="mt-5 mb-5 mx-auto">Materias primas</h1>
      <form action="#" class="clienteCompr" method="POST" th:action="@{/cliente/materias_primas/submit}"
        th:object="${pedido}">
        <table class="tabla table-hover table-responsive-sm" id="tablaP">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio por Kg</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="elemento : ${listaMaterias}">
              <td th:text="${elemento.nombre}">Producto 1</td>
              <td th:text="${elemento.precio}">5</td>
            </tr>
          </tbody>
        </table>
        <div class="row conten mx-auto justify-content-around mt-5 mb-5">
          <div class="col-sm-12 col-xl-3">
            <select id="nombre" class="form-control" th:field="*{nombre}">
              <option th:each="elemento : ${listaMaterias}" th:value="${elemento.nombre}" th:text="${elemento.nombre}">
                Producto</option>

            </select>
          </div>
          <div class="col-sm-12 col-xl-4 form-group">
            <div class="row justify-content-around">
              <label for="cantidad" class="col-sm-5 col-xl-5">Cantidad (Kg)</label>
              <input type="number" id="cantidad" class="form-control mitad col-sm-7 col-xl-7"
                placeholder="Inserte la cantidad a comprar." min="0" step="100" th:field="*{cantidad}">
            </div>
          </div>
          <div class="col-sm-12 col-xl-3">
            <span id="precio">0</span> <span> €</span>
          </div>
        </div>
        <div class="row conten mt-5 mb-5 justify-content-around">
          <div class="form-group col-sm-12 col-xl-5">
            <div class="row justify-content-center">
              <label for="fechaEntrega" class="col-sm-12 col-xl-5">Fecha de entrega</label>
              <input type="date" id="fechaEntrega" th:field="*{fecha}" class="form-control mx-auto col-sm-10 col-xl-5">
            </div>
          </div>
          <div class="form-group col-sm-12 col-xl-5">
            <div class="row justify-content-center">
              <label for="fechaSalida" class="col-sm-12 col-xl-5">Fecha de salida del transporte</label>
              <input type="text" id="fechaSalida" class="form-control mx-auto col-sm-10 col-xl-5" readonly>
            </div>
          </div>
        </div>
        <div class="mx-auto mt-5 mb-5 text-center">
          <p class="error"></p>
        </div>
        <div class="mx-auto mt-5 mb-5">
          <span>Precio final </span><span id="precioFinal" class="ml-2 mr-1">X</span><span> €</span>
        </div>
        <div class="mx-auto mt-5 mb-5">
          <button type="submit" class="btn btn-success clienteCompr" value="Enviar" id="enviar">Crear pedido</button>
        </div>
      </form>
    </section>
  </main>
  <span id="costeTT" class="oculto" th:text="${admin.precioTren}">AAAAAA</span>
  <span id="costeTB" class="oculto" th:text="${admin.precioBarco}">AAAAAA</span>
  <span id="numDiasT" class="oculto" th:text="${cliente.pais.numDiasTren}">AAAAAA</span>
  <span id="numDiasB" class="oculto" th:text="${cliente.pais.numDiasBarco}">AAAAAA</span>
  <div th:replace="~{fragmentos/footer::footer}"></div>

  <script>
    var precioFinalIndividual = 0;
    var costeTT = parseInt($("#costeTT").html());
    var costeTB = parseInt($("#costeTB").html());
    var numDiasT = parseInt($("#numDiasT").html());
    var numDiasB = parseInt($("#numDiasB").html());


    window.onload = function () {
      $("#fechaEntrega").blur(function (event) {
        comprobarFecha();
      });
      $("#cantidad").blur(function (event) {
        costeIndiv();
        costeTotal();
      });
    }

    function costeIndiv() {
      precioFinalIndividual = 0;
      var precioIndividual = 0;

      $("table tr").each(function () {
        var hola = 0;
        if ($(this).children("td:nth-child(1)").html() == $("#nombre").html()) {
          precioIndividual = $(this).children(":nth-child(2)").hmtl();
        }
      });

      if ($("#tablaP tbody").children("tr:nth-child(1)").children("td:nth-child(1)").html() == $("#nombre").val()) {
        precioIndividual = $("#tablaP tbody").children("tr:nth-child(1)").children("td:nth-child(2)").html();
      } else if ($("#tablaP tbody").children("tr:nth-child(2)").children("td:nth-child(1)").html() == $("#nombre").val()) {
        precioIndividual = $("#tablaP tbody").children("tr:nth-child(2)").children("td:nth-child(2)").html();
      } else if ($("#tablaP tbody").children("tr:nth-child(3)").children("td:nth-child(1)").html() == $("#nombre").val()) {
        precioIndividual = $("#tablaP tbody").children("tr:nth-child(3)").children("td:nth-child(2)").html();
      }


      precioFinalIndividual = precioIndividual * $("#cantidad").val();
      $("#precio").html(precioFinalIndividual);
    }

    function costeTotal() {
      var total = 0;
      var coste = ((numDiasT) * (costeTT)) + ((numDiasB) * (costeTB));
      total = precioFinalIndividual + coste;
      $("#precioFinal").text(total.toString());
    }

    function comprobarFecha() {
      var fechaEntr = new Date($("#fechaEntrega").val());
      var hoy = new Date();
      hoy.setDate(hoy.getDate() + 1);
      var espacio = ((numDiasT) + (numDiasB));
      var fechaSal = new Date(fechaEntr.getTime());
      fechaSal.setDate(fechaSal.getDate() - espacio);

      var fechaInp = fechaSal.getFullYear().toString() + '-' + (fechaSal.getMonth() + 1).toString().padStart(2, 0) + '-' + fechaSal.getDate().toString().padStart(2, 0);

      $("#fechaSalida").val(fechaInp);

      if (fechaSal < hoy) {
        $(".error").html("Selecione otra fecha, el trasporte tiene que salir con dos días de diferencia del actual.");
        $("#enviar").prop("disabled", "true");
      } else {
        $(".error").html("");
        $("#enviar").prop("disabled", "");
      }
    }
  </script>

  <script>
    flatpickr("#fechaEntrega", {
      minDate: "today",
      "locale": { "firstDayOfWeek": 1 },
      "locale": "es",
    });
  </script>

</body>

</html>